.pla .left{position:relative;float:left;width:700px;min-height:200px}
.pla h1{color:#fff;font-size:15px;font-weight:400;margin:0 0 0 7px;padding:6px 6px 6px 9px;background:#0090B5}
.pla .list-agent{padding:0;margin:0 0 0 7px;border:1px solid #E0E0E0;border-top:none;border-bottom:none}
.pla .list-agent .item{margin:0;padding:5px 0 5px 5px;border:1px solid #e0e0e0;border-right:none;border-left:none;border-top:none}
.pla .list-agent .avatar{width:100px;height:133px;margin:0 5px 0 0;float:left}
.pla .list-agent .text{padding:1px 0}
.pla .list-agent .fullname{display:block;color:#0862a5;font-size:13px;font-weight:700;background:url(../../publish/img/utility-icon.png) 103px -1012px no-repeat;text-indent:24px;line-height:18px;margin:0 0 5px}
.pla .list-agent .fone{display:block;color:#bd0707;font-size:13px;font-weight:700;background:url(../../publish/img/utility-icon.png) 103px -1038px no-repeat;text-indent:24px;line-height:18px;margin:0 0 5px}
.pla .list-agent .fone a{color:#bd0707;text-decoration:none}
.pla .list-agent .address{display:block;color:#0e0e0e;font-size:13px;font-weight:700;background:url(../../publish/img/utility-icon.png) 103px -1125px no-repeat;text-indent:24px;line-height:18px;margin:0 0 5px}
.pla .list-agent .view-personal-page a{font-size:12px;color:#1d5f9b;font-weight:700;text-decoration:none}
.pla .list-agent .view-personal-page a:hover{text-decoration:underline}
.pla .list-agent .intro{display:block;text-align:justify;font-size:13px;padding:2px}
.pla .review-box{margin:5px 0 0}
.pla .review-score{color:#f76504;font-size:13px;margin:0 4px 0 0}
.pla .review-star{display:inline-block;width:96px;background:url(../../publish/img/star-list-news.png) repeat-x 0 0;height:14px}
.pla .review-star .rate{background:url(../../publish/img/star-list-news.png) repeat-x 0 -13px;display:block;height:14px}
.pla .right{float:right;width:285px;padding-right:7px}
.pla .search-box{border:1px solid #E0E0E0;padding:0 0 5px}
.pla .search-box .head{color:#fff;font-size:15px;margin:0 0 5px;padding:6px 6px 6px 0;text-indent:10px;background:#0090B5}
.pla .search-box select{color:#136494;width:270px;height:30px;margin:2px 5px 6px 7px}
.pla .dvsearch{text-align:center}
.pla .dvsearch .button{display:inline-block;text-align:center;text-decoration:none;padding:7px 20px;margin:0 25px 0 0;border-radius:3px;background:#09C;cursor:pointer;color:#fff;font-size:13px;box-shadow:0 2px 2px rgba(5,51,22,0.3)}
.pla .dvsearch .button:hover{background:#0FBAF5}
.pad #wrapper{padding:0!important}
.pad .top-contact{display:none!important}
.pad .reg-menu-box{display:none}
.pad #menu{display:none}
.pad .googleplus{display:none}
.pad .house-bottom-navigation{display:none}
.pad .agent-page{margin:20px 0 0}
.pad .left{margin:0;width:665px;float:left}
.agent-infor{width:315px;float:right}
.agent-infor .head{background:#0090B5;padding:5px;color:#fff;margin:0 0 5px;font-size:15px}
.agent-infor .avatar{float:left;margin:0}
.agent-infor .text{width:212px;float:right}
.agent-infor .avatar img{width:100px}
.agent-infor .fullname{color:#0862A5;font-size:13px;line-height:16px;font-weight:700;background:url(../../publish/img/utility-icon.png) 0 -1012px no-repeat;padding:0 0 0 25px}
.agent-infor .phone{margin:5px 0 0;font-size:13px;line-height:20px;font-weight:700}
.agent-infor .phone>div{background:url(../../publish/img/utility-icon.png) 0 -1038px no-repeat;padding:0 0 0 25px;margin-bottom:3px}
.agent-infor .phone a{color:#BD0707}
.agent-infor .address{background:url(../../publish/img/utility-icon.png) 0 -1125px no-repeat;font-size:13px;margin:8px 0 0;text-indent:26px;line-height:19px}
.agent-infor .introduce{margin:10px 0 0;text-align:justify;font-size:13px;line-height:20px}
.pad .review-box{margin:5px 0 0}
.pad .review-score{color:#f76504;font-size:13px;margin:0 4px 0 0}
.pad .review-star{display:inline-block;width:96px;background:url(../../publish/img/star-list-news.png) repeat-x 0 0;height:14px}
.pad .review-star .rate{background:url(../../publish/img/star-list-news.png) repeat-x 0 -13px;display:block;height:14px}
.pad .review-text{margin:5px 0}
.pad .review-text .review-text-title{color:#000;font-weight:700;margin:0 0 5px}
.pad .review-text .review-text-content{color:#d72929;font-size:13px}
.pad .right{width:315px;float:right;padding:0;margin:0 5px 0 0}
.pad .right .property-map .head{background:#0090B5;padding:5px;color:#fff;margin:10px 0 0;font-size:15px}
.pad .right .property-map img{width:100%}
.pad .left .property-head{font-weight:400;margin:0;font-size:15px;padding:0 0 0 7px;color:#fff;line-height:25px;background:#0090B5}
.pad .left .property-items{background-color:#FFF;padding:0}
.pad .left .property-item{margin:0;padding:5px;border:1px solid #CCC;border-top:none;position:relative}
.pad .left .property-item:hover{box-shadow:none}
.pad .left .property-item .thumbnail{float:left;margin:1px 5px 0 0;width:100px;height:60px;overflow:hidden}
.pad .left .property-item .thumbnail img{width:100px;height:60px;border:none}
.pad .left .property-item .text{float:right;width:540px}
.pad .left .property-item label{color:#3A3A3A;font-weight:700}
.pad .left .property-item .ct_title{width:550px;float:left;overflow:hidden;margin-bottom:3px!important}
.pad .left .property-item .ct_title a{color:#085EAF;text-decoration:none;font-weight:700;font-size:13px}
.pad .left .property-item .ct_title a:hover{text-decoration:underline}
.pad .left .property-item .ct_title a:visited{color:#8D8DB9}
.pad .left .property-item .ct_date{float:right;text-align:right;color:#D64D4D}
.pad .left .property-item .ct_des{text-align:justify}
.pad .left .property-item .square-direct{line-height:20px}
.pad .left .property-item .ct_kt{width:25%;float:left}
.pad .left .property-item .ct_dt{width:40%;float:left}
.pad .left .property-item .ct_dt sup{position:absolute;margin-top:-5px}
.pad .left .property-item .ct_direct{width:30%;float:right;text-align:right;font-weight:700;color:#00F}
.pad .left .property-item .price-dis{height:18px;overflow:hidden;margin-bottom:3px}
.pad .left .property-item .characteristics>span{height:22px;line-height:22px}
.pad .left .property-item .road-width{display:inline-block;width:120px;background:url(../../publish/img/utility-icon.png) 0 -766px no-repeat;text-indent:27px}
.pad .left .property-item .floors{display:inline-block;width:120px;background:url(../../publish/img/utility-icon.png) 0 -789px no-repeat;text-indent:27px}
.pad .left .property-item .bedroom{display:inline-block;width:130px;background:url(../../publish/img/utility-icon.png) 0 -810px no-repeat;text-indent:27px}
.pad .left .property-item .parking{display:inline-block;width:90px;background:url(../../publish/img/utility-icon.png) 0 -835px no-repeat;text-indent:27px}
.pad .left .property-item .ct_price{width:30%;float:left;color:red;font-weight:700}
.pad .left .property-item .ct_dis{width:70%;float:right;text-align:right;color:#000;font-weight:700}
.pad .left .property-item .ct_dis a{text-decoration:none;color:#000}
.pad .left .property-item .ct_dis a:hover{text-decoration:underline}
.page{text-align:right;margin:5px 0 0;padding:0}
.page a{display:inline-block;margin:0 0 0 2px;background-color:#006786;padding:5px 9px;text-decoration:none;color:#FFF}
.page a:hover{background-color:#09C}
.page a.active{background-color:#09C}

