/* CSS Document */
.left{
	float:left;
	width:675px;
	margin:0px 0px 0px 0px;
}
.category-name{
	font-size: 20px;
	color: #1579A8;
	margin: 0px 0px 10px 0px;
	padding: 0px 5px 15px 5px;
	font-weight:bold;
	border-bottom:#E5E5E5 1px solid;
}

.line{
	height:1px;
	margin:2px 0px 2px 0px;
}	

.newest-box
{
	border: 1px solid #e0e0e0;
    border-top: none;
    border-left: none;
    padding: 0px 5px 5px 0px;
}
.left-newest-box
{
	float: left;
	width: 465px;
	padding: 5px;
	line-height: 18px;
}
.left-newest-box .bigimage img
{
	width:465px;
	height:290px;
}
.left-newest-box .title
{
	margin: 10px 0px 10px 0px;
}
.left-newest-box .title a
{
    color: #57A710;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.left-newest-box .brief
{
	font-size:14px;
	margin:0px 0px 10px;
	text-align:justify;
}
.left-newest-box .relative-news
{
	display:none;
}
.left-newest-box .relative-news a
{
	font-weight:bold;
	color:#777777;
}
.right-newest-box
{
    float: right;
    width: 185px;
    border-left: 1px solid #e0e0e0;
    padding: 0px 0px 0px 5px;
}
.right-newest-box .item
{
    border-bottom: 1px dotted #cccccc;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 5px 0px;
}
.right-newest-box .item:last-child
{
	border:none;
}
.right-newest-box .item .title
{
	text-align:justify;
	margin: 0px 0px 5px 0px;
}

.right-newest-box .item .title a
{
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}
.right-newest-box .item .title a:hover
{
	color:#666666;
}
.right-newest-box .item .thumbnail
{
	display:none;
}
.right-newest-box .item .thumbnail img
{
	width:100px;
}
.right-newest-box .item .brief
{
	font-size:13px;
	line-height:18px;
	text-align:justify;
}
.list-article
{    border: 1px solid #E0E0E0;
    border-bottom: none;
    border-left:none;
    border-top:none;
}
.list-article .item
{
	border-bottom:1px solid #E0E0E0;
	padding:10px 5px 10px 5px;
	font-size:13px;
	line-height:20px;
}
.list-article .thumbnail
{
	float:left;
	margin-right:10px;
	width:180px;
	height:100px;
}
.list-article .thumbnail img
{
	width:180px;
	height:100px;
}
.list-article .content
{
	padding-left:15px;
	text-align:justify
}
.list-article .title a
{
	font-size:14px;
	text-decoration:none;
	font-weight:700;
	color:#0B5EA5
}
.list-article .title a:hover
{
	color:#6493BB;
}
.list-article .title a:visited
{
	color:#6493BB;
}
.list-article .brief
{
	padding:5px 0px 0px 0px;
	color:#666666;
	text-align:justify;
	
}



/*paging*/

.page{
	text-align:right;
	margin:5px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.page a{
	display:inline-block;
	margin:0px 0px 0px 2px;
	background-color:#006786;
	padding:5px 9px 5px 9px;
	text-decoration:none;
	color:#FFFFFF;	
}
.page a:hover{
	background-color:#0099CC;
}
.page a.active{
	background-color:#0099CC;
}

/*right*/
.right{
	float:right;
	width:305px;
	margin:0px 5px 0px 0px;
}
.other-sub-category
{
	
}
.other-sub-category .item
{
	border: 1px solid #E0E0E0;
	margin:0px 0px 10px 0px;
}
.other-sub-category .item .head
{
    background:#0090B5;
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}
.other-sub-category .item .content
{

}
.other-sub-category .item .row
{
	height:60px;
	border-bottom:1px dotted #e0e0e0;
	padding:5px;
}
.other-sub-category .item .first-row
{
	height:auto !important;
}
.other-sub-category .item .first-row .title
{
	margin:5px 0px 0px 0px;
}
.other-sub-category .item .first-row .title a
{
	font-size:15px !important;
	text-decoration:none !important;
	font-weight: bold !important;
    color: #337ab7 !important;
}
.other-sub-category .item .first-row .title a:hover
{
	color:#23527c !important;
}
.other-sub-category .item .first-row .thumbnail
{
	width:293px !important;
	height:170px !important;
	margin: 0px 5px 0px 0px !important;
	float:none !important;
}
.other-sub-category .item .first-row .thumbnail img
{
	width:293px !important;
	height:170px !important;
	max-width:293px !important;
	max-height: 170px !important;
}
.other-sub-category .item .row .title a
{
	font-size: 14px;
    text-decoration: none;
    color: #555555;
}
.other-sub-category .item .row .title a:hover
{
	color:#4F988E;
}
.other-sub-category .item .row .thumbnail
{
	float:left;
	width:70px;
	margin: 0px 5px 0px 0px;
}
.other-sub-category .item .row .thumbnail img
{
	width:70px;
	height:60px;
}
.other-sub-category .item .row:last-child
{
	border:none;
}
/*
.othercategories
{
	margin:0px 0px 10px 0px;
}

.othercategories .head
{
	text-transform:uppercase;
	margin:0px;
	width:100%;
	padding:8px 0px 8px 0px;
	text-indent:10px;
	font-size:13px;
	font-weight:bold;	
	color:white;
	background:#0090B5;
}

.othercategories .content
{
	
}
.othercategories .content ul
{
	margin:0px;
	padding:0px;
}
.othercategories .content ul li
{
	margin:0px;
	padding:10px 0px 10px 10px;
	list-style:none;
	border:1px solid #E0E0E0;
	border-top:none;
}
.othercategories .content ul li:hover
{
	background:#F0F0F0;
}
.othercategories .content ul li a
{
	text-decoration:none;
	font-size:12px;
	display:block;
	color:#0090B5;
	text-transform: uppercase;
}
.othercategories .content ul li.selected
{
	background:#E0E0E0;
}
*/
.hotarticle{
	margin:0px 0px 10px 0px;
	border:1px solid #D14141;
}
.hotarticle .title
{
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	background: #D14141;
	color: #ffffff;
}

.hotarticle ul
{
	margin-bottom:10px;
	margin: 0px;
	padding: 0px 0px 0px 25px;
	list-style: square;
	color: #A8A8A8;
}
.hotarticle ul li
{
	margin: 0px;
	padding: 0px;
	line-height: 25px;
}
.hotarticle ul li a{
	height:95px;
	color: #085EAF;
	font-size: 13px;
	text-decoration:none;
}
.hotarticle ul li a:hover
{
	text-decoration:underline;
}

.mostreader{
	margin:0px 0px 10px 0px;
	border:1px solid #0090B5;
}
.mostreader .title
{
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	background: #0090B5;
	color: #ffffff;
}

.mostreader ul
{
	margin-bottom:10px;
	margin: 0px;
	padding: 0px 0px 0px 25px;
	list-style: square;
	color: #A8A8A8;
}
.mostreader ul li
{
	margin: 0px;
	padding: 0px;
	line-height: 25px;
}
.mostreader ul li a{
	height:95px;
	color: #085EAF;
	font-size: 13px;
	text-decoration:none;
}
.mostreader ul li a:hover
{
	text-decoration:underline;
}


/* news detail */
#content
{
	margin-top:10px;
}

.news .title{
	font-size:16px;
	font-weight:bold;
	color:#0066CC;
	text-indent:10px;
	padding:10px 0px 5px 0px;
	margin:0px 0px 5px 0px;
}
.news .date{
	color:#999999;
	font-size:13px;	
	padding:0px 5px 10px 0px;
	text-indent:10px;
	text-align:right;
	font-style:italic;
}
.news .content{
	text-align:justify;
	padding:0px 5px 0px 5px;
	word-spacing:2px;
	padding:0px 0px 0px 10px;	
	line-height:20px;
	font-size:14px;
}
.news .content img
{
	max-width:665px;
}
.news .trichdan{
	text-align:right;
	font-weight:bold;
	font-style:italic;
	margin:15px 0px 0px 0px;
}

.oldernews
{
}
.oldernews .title
{
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	color: #000;
}
.oldernews .line
{
	border-bottom:1px dashed #A0A0A0;
}
.oldernews ul
{
	margin:0px;
	padding:0px;
	list-style-type: square;
	color: rgb(12, 137, 153);
	font-size: 15px;
}
.oldernews ul li
{
	margin-left:25px;
	line-height:22px;
}
.oldernews ul li a
{
	font-size: 13px;
	text-decoration:none;
	color:#1A38D1;
}
.oldernews ul li a:hover{
	text-decoration:underline;
}
.oldernews ul li .ngaydang
{
	color:#555555;
	font-style:italic;
	
}
/*other news*/
.othernews{
	margin:15px 0px 0px 0px;
	padding:0px 0px 0px 10px;
}
.othernews .line{
	border:none;
	border-top:#E5E5E5 1px dashed;
	margin:5px 0px 10px 0px;
}
.othernews .title{
	color:#000000;
	font-weight:bold;
	font-size:14px;
}

.othernews ul{
	margin:0px;
	padding:0px 0px 0px 20px;	
	list-style-type:square;
	color:#06F;
	font-size:14px;
}
.othernews ul li{
	margin:0px 0px 0px 0px;
	line-height:20px;
}

.othernews ul li a{
	text-decoration:none;
	color:#1C93B1;
	font-size:13px;
}
.othernews ul li a:hover{
	text-decoration:underline;
}
.othernews ul li a span
{
	font-style:italic;
	color:#000000;
}

/* comment */
.comment-box .notification
{
	background:#fffbcc;
	border:1px solid #e6db55;
	margin:10px;
	padding:5px;
	text-align:center;
}
.comment-box .comment-title
{
	width:680px;
	margin:0px 0px 0px 10px;
	padding:7px 0px 7px 10px;
	font-weight:bold;
	font-size:15px;
	color:#444444;
	background: #EAEAEA;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.comment-box .notification a
{
	color:rgb(99, 119, 221);
	text-decoration:none;
}
.comment-list
{
	margin:5px 10px 10px 10px;
	max-height:800px;
	overflow:auto;
}
.comment-item{
	border:1px solid #E0E0E0;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	position:relative;
	margin-bottom:10px;
	padding:5px 15px 5px 15px;
	font-family: Tahoma,Arial,sans-serif;
	font-size: 12px;
}
.commenter
{
	font-weight:bold;
	color:#18538c;
}

.commenter a{
	font-weight:bold;
	color:#18538c;
	text-decoration:none;
}
.commenter a:hover{
	text-decoration:underline;
}
.comment-date{
	position:absolute;
	top:0px;
	right:0;
	padding:5px 15px 5px 15px;
	color:#888888;
}
.comment-content{
	margin-top:3px;
	padding-top:3px;
	border-top:1px solid #E0E0E0;
	display:block;
	color:#333333;
}

.comment-form{
	background:#EAEAEA;	
	padding:10px;
	margin:10px;
	position:relative;
}

.comment-form #username, .comment-form #website{
	
	width:230px;
	border:1px solid #E0E0E0;
	border-radius:3px;
	height:20px;
	margin-top:7px;
}
.comment-form #comment_content{
	display:block;
	width:665px;
	height:70px;
	border:1px solid #E0E0E0;
	border-radius:6px;
}
.comment-form #submit{
	background:#222222;
	color:#eeeeee;
	border:none;
	border-radius:3px;
	padding:5px 12px 5px 12px;
	cursor:pointer;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	position:absolute;
	right:8px;
	bottom:5px;
}
.comment-form #submit:hover{
	background:#555555;
}
.comment-form #submit:active{
	background:rgb(96, 165, 219);
}

.ajax-loading
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:1010;
	top:0px;
	left:0px;
	background:url(../../publish/images/loader.gif) no-repeat center;
	background-color:#ffffff;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
	display:none;
}



