img{border:0}
body{font-size:12px;padding:0;margin:0;background-repeat:repeat-x;font-family:Arial,Verdana,sans-serif;background-image:url(../../publish/img/background.jpg);background-repeat:repeat-x;background-position:top left;line-height:16px;position:relative}
.black_overlay{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background-color:black;z-index:1001;-moz-opacity:.4;opacity:.40;filter:alpha(opacity=40);position:fixed}
form{margin:0;padding:0}
.clear{clear:both}
.loading{width:100%;height:100%;position:absolute;z-index:1010;top:0;left:0;background:url(../../publish/img/loader.gif) no-repeat center;background-color:#fff;-moz-opacity:.5;opacity:.50;filter:alpha(opacity=50);display:none}
.li-last{float:none!important;clear:both!important;height:0!important;border:none!important}
input[type=text],textarea,input[type=password]{border:1px solid #e0e0e0;border-radius:3px;line-height:20px;height:20px}
input[type=text]:hover,textarea:hover,input[type=password]:hover,select:hover{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
select{border:1px solid #ccc;height:25px}
#wrapper{width:1000px;margin:auto;background:#fff;box-shadow:0 0 15px #969696;position:relative;z-index:100;padding-top:40px}
#header{height:100px;margin-bottom:5px;position:relative}
#header .logo{float:left;width:230px;height:100%;padding-top:2px}
#header .logo a{border:0}
#header .logo a img{border:0}
#header .banner-top{float:right;width:770px;height:100%;text-align:center;position:relative}
#header .banner-top .item{position:absolute;top:0;left:0;right:0;height:100%;text-align:center;cursor:pointer}
.banner-top .item .banner-close{top:0;right:0;display:inline-block;width:15px;height:15px;position:absolute;opacity:.7;background: #fff url(../../publish/img/utility-icon.png) -5px -551px no-repeat;cursor:pointer;z-index:1011;}
#header .banner-top .item *{max-height:100%;max-width:100%}
#header .banner-top .item .over{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer}
.banner-center{margin:0}
.banner-center .item{max-width:300px;position:relative;margin:0 0 5px 0;text-align:center;background:url(../../publish/img/loader.gif) no-repeat center;overflow:hidden;cursor:pointer}
.banner-center .item .banner-close{top:0;right:0;display:inline-block;width:15px;height:15px;position:absolute;opacity:.7;background: #fff url(../../publish/img/utility-icon.png) -5px -551px no-repeat;cursor:pointer;z-index:1011;}
.banner-center .item .over{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer}
.banner-center .item img{max-width:100%}
.banner{position:absolute;bottom:20px;cursor:pointer;overflow:hidden}
.banner .item{margin-top:10px;position:relative;min-width:100px}
.banner .item .banner-close{display:inline-block;width:15px;height:15px;position:absolute;opacity:.7;background: #fff url(../../publish/img/utility-icon.png) -5px -551px no-repeat;cursor:pointer;z-index:1011;}
.banner .item .over{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer}
.banner .item img{background:#096}
.banner-right{right:5px}
.banner-left{left:5px}
.banner-left .banner-close{top:0;left:0}
.banner-right .banner-close{top:0;right:0}
.reg-menu-box{height:30px;padding:5px;position:relative}
.reg-menu{float:right;margin:0 5px 0 20px;line-height:30px}
.reg-menu a{text-decoration:none;font-size:13px;color:#06f;font-weight:bold;white-space:nowrap}
.reg-menu a:hover,.reg-menu .view-mobile:hover{border:2px solid #fff}
.reg-menu .view-mobile{cursor:pointer;display:inline-block;background: url(../../publish/img/utility-icon.png) -3px -886px no-repeat;color:#05b413;font-weight:bold;font-size:13px;padding-left:18px;margin-right:20px;}
.reg-menu .regular-post{display:inline-block;background: url(../../publish/img/utility-icon.png) 8px -198px no-repeat;color:red!important;margin-right:20px;padding-left:37px;}
.reg-menu .register{display:inline-block;background: url(../../publish/img/utility-icon.png) 3px -239px no-repeat;padding-left:32px;margin-right:20px;}
.reg-menu .login{display:inline-block;background: url(../../publish/img/utility-icon.png) 3px -127px no-repeat;padding-left:30px;}
.reg-menu .user{display:inline-block;background: url(../../publish/img/utility-icon.png) 4px -951px no-repeat;padding-left:32px;}
.reg-menu .advance-post{display:inline-block;background: url(../../publish/img/utility-icon.png) 7px -239px no-repeat;text-align:right;color:#1a9e54!important;cursor:pointer;margin-right:20px;padding-left:35px;position:relative;}
.reg-menu .advance-post:hover .advance-post-hint{display:block}
.reg-menu-box .user:hover{text-decoration:underline}
.reg-menu-box .exit{color:#800000}
.reg-menu-box .exit:hover{text-decoration:underline}
#menu>ul>li:nth-child(1){background:none!important}
#menu a.home{background: url(../../publish/img/utility-icon.png) 7px -854px no-repeat;width:40px;height:37px;padding:0!important;}
#menu a.home:hover{background:#006782 url(../../publish/img/utility-icon.png) 7px -854px no-repeat !important}
#menu{position:relative;z-index:1010;height:38px;background-color:#0090b5;margin-bottom: 35px;}
#menu .menu{position:absolute;border-right:1px solid #45bbf7}
#menu *{list-style:none;border:0;padding:0;margin:0}
#menu a{display:block;padding:0 10px 0 10px;white-space:nowrap;height:100%}
#menu>ul>li{float:left;position:relative;border-left:1px solid #45bbf7}
#menu li li{float:none}
#menu a{text-decoration:none;color:#fff;position:relative;z-index:77;text-transform:uppercase;font:12px Tahoma,Geneva,sans-serif;text-decoration:none;line-height:38px;font-weight:bold}
#menu>ul>li>a:hover{background:#006782}
#menu>ul>li:hover>a{color:#FFF;background:#006782}
#menu>ul>li:hover>ul{display:block}
#menu .list-sale ul{width:679px!important}
#menu .list-sale ul li{display:inline-block;float:left;width:225px}
#menu .list-rent ul{width:709px!important}
#menu .list-rent ul li{display:inline-block;float:left;width:235px}
#menu ul ul{width:200px;position:absolute;display:none}
#menu li li{background-color:#005161;border-bottom:1px solid #006782}
#menu li li:hover{background-color:#006782;border-bottom:1px solid #006782}
#menu li li a{position:static;text-indent:12px;color:#FFF;padding:0;width:100%;line-height:32px;text-transform:none;display:block;padding:0;letter-spacing:0;font-weight:normal}
#menu ul ul ul{display:block;position:static}
#menu ul ul ul li{float:none}
#menu ul ul ul li:first-child{border-top:1px solid #006782!important}
#menu ul ul ul li:last-child{border-bottom:0}
#menu ul ul ul li a{text-indent:20px}
#menu .list-sale ul li a,#menu .list-rent ul li a{text-indent:32px!important}
#menu li li.type0{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -28px;background-repeat:no-repeat}
#menu li li.type1{background-image:url(../../publish/img/property-type-icon.png);background-position:20px 0;background-repeat:no-repeat}
#menu .list-sale ul li.type1 a,#menu .list-sale ul li.type2 a,#menu .list-rent ul li.type1 a,#menu .list-rent ul li.type2 a{text-indent:55px!important}
#menu li li.type2{background-image:url(../../publish/img/property-type-icon.png);background-position:20px -28px;background-repeat:no-repeat}
#menu li li.type3{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -58px;background-repeat:no-repeat}
#menu li li.type4{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -88px;background-repeat:no-repeat}
#menu li li.type5{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -118px;background-repeat:no-repeat}
#menu li li.type6{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -148px;background-repeat:no-repeat}
#menu li li.type7{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -178px;background-repeat:no-repeat}
#menu li li.type8{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -208px;background-repeat:no-repeat}
#menu li li.type9{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -238px;background-repeat:no-repeat}
#menu li li.type10{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -268px;background-repeat:no-repeat}
#menu li li.type11{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -298px;background-repeat:no-repeat}
#menu li li.type12{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -328px;background-repeat:no-repeat}
#menu li li.type13{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -358px;background-repeat:no-repeat}
#menu li li.type14{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -388px;background-repeat:no-repeat}
#menu li li.type15{background-image:url(../../publish/img/property-type-icon.png);background-position:0 -418px;background-repeat:no-repeat}
.notfound{text-align:center;margin:5px;padding:5px;height:30px}
.notfound span{color:#000;background-color:#e5e5e5;line-height:30px;padding:10px 50px 10px 50px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.vip{color:#bb2c2c!important;background:url(../../publish/img/vip.gif) no-repeat right top;padding-right:30px}
.vipstar{height:20px}
.vip-1{background-image:url(../../publish/img/vip-star.png);background-position:0px 0px;background-repeat:no-repeat}
.vip-2{background-image:url(../../publish/img/vip-star.png);background-position:0px -25px;background-repeat:no-repeat}
.vip-3{background-image:url(../../publish/img/vip-star.png);background-position:0px -50px;background-repeat:no-repeat}
.vip-4{background-image:url(../../publish/img/vip-star.png);background-position:0px -75px;background-repeat:no-repeat}
.vip-5{background-image:url(../../publish/img/vip-star.png);background-position:0px -100px;background-repeat:no-repeat}
.footer{background-color:#4080a6;margin-top:10px;padding-bottom:5px;position:relative}
.footer .fcolumleft{float:left;width:600px;border-right:1px solid #376a87;padding-bottom:3px;height:140px}
.footer .fcolumleft ul{float:left;width:150px;margin:0;padding:0}
.footer .fcolumleft ul div{margin:0;color:#FFF;font-weight:bold;width:100%;border-bottom:1px solid #376a87;padding:10px 0 10px 0;text-transform:uppercase;margin-bottom:5px;text-indent:5px}
.footer .fcolumleft ul div a{color:#FFF;font-size:13px;text-decoration:none}
.footer .fcolumleft ul li{list-style:none;float:left;width:100%;background: url(../../publish/img/utility-icon.png) -4px -984px no-repeat;/* background-position:5px; */text-indent:15px;color:#fff;padding:3px 0 0 0;}
.footer .fcolumleft ul li a{color:#fff;font-size:11px;text-decoration:none}
.footer .fcolumleft ul li a:hover{text-decoration:underline}
.footer .fcolumright{border-left:1px solid #5398c1;height:140px;display:inline-block;width:397px;padding-bottom:3px;background:#10557e}
.footer .fcolumright .top{padding-top:5px}
.footer .support div{margin-bottom:5px}
.footer .support .title{text-align:center;font-weight:bold;font-size:15px;color:#e6f075;margin-bottom:10px}
.footer .support .phone{text-align:center;color:#fff;font-size:14px}
.footer .support .yahoo{text-align:center}
.footer .fcolumright .bottom ul{margin:0;padding:0 0 0 10px;text-align:center}
.footer .fcolumright .bottom ul li{list-style:none;color:#fff;margin-top:3px}
.footer .line{border-top:1px solid #376a87!important;width:100%}
.footer .about{line-height:25PX;color:#fff;text-indent:5px;padding-top:5px;text-align:center;font-size:13px}
.links{width:1000px;margin:auto;padding:5px 0 0 0}
.links a{color:Gray;text-decoration:none;display:inline-block;width:120px;overflow:hidden;font-size:11px;overflow:hidden;line-height:18px;height:18px}
.login-form{margin:10px 5px 10px 5px;padding:5px;border:solid 15px #c1d3e1;border:solid 15px rgba(4,78,136,0.24);width:355px;box-shadow:5px 4px 20px #fff;background-color:#fff;display:none;position:absolute;top:150px;left:37%;z-index:1002}
.login-form .title{height:30px;line-height:30px;text-align:center;font-size:16px;font-weight:bold;margin-bottom:0;color:#74a8f5}
.login-form .row{margin:0 0 7px 12px;position:relative}
.login-form .col1{float:left;width:30%;line-height:28px}
.login-form .col2{float:right;text-align:left;width:70%}
.login-form .show-recover-form:hover{color:blue}
.login-form .show-recover-form{color:Red;cursor:pointer}
.login-form .show-register-form:hover{color:blue}
.login-form .show-register-form{color:#09c;cursor:pointer}
.login-form .button span{display:inline-block;width:70px;text-align:center;text-decoration:none;padding:5px 10px 5px 10px;margin:0 15px 0 0;border-radius:3px;background-color:#c3c3c3;color:#fff;cursor:pointer;box-shadow:0 2px 2px rgba(5,51,22,0.3)}
.login-form input[type=text],.login-form input[type=password]{width:220px;height:18px}
.login-form .button{text-decoration:none;color:#1d81bd;margin-left:10px}
.login-form .button span{display:inline-block;width:70px;text-align:center;text-decoration:none;padding:5px 10px 5px 10px;margin-top:10px;border-radius:3px;background-color:#09c;cursor:pointer}
.login-form .button span:hover{background-color:#0fbaf5;background-color:rgba(0,153,204,0.72)}
.login-form .button span:active{background-color:#09c}
.login-form .forget-password{color:Red;cursor:pointer}
.login-form .forget-password:hover{color:blue}
.recover-form{margin:10px 5px 10px 5px;padding:5px;border:solid 15px #c1d3e1;border:solid 15px rgba(4,78,136,0.24);width:355px;box-shadow:5px 4px 20px #fff;background-color:#fff;display:none;position:absolute;top:150px;left:37%;z-index:1002}
.recover-form .title{height:30px;line-height:30px;text-align:center;font-size:16px;font-weight:bold;margin-bottom:0;color:#74a8f5}
.recover-form input{width:235px;height:18px}
.recover-form .row{margin:0 0 7px 12px;position:relative}
.recover-form .col1{float:left;width:90px;line-height:28px}
.recover-form .button{text-align:right;margin-right:15px}
.recover-form .button span{display:inline-block;width:70px;text-align:center;text-decoration:none;padding:5px 10px 5px 10px;margin:10px 0 0 10px;border-radius:3px;background-color:#09c;color:#fff;cursor:pointer;box-shadow:0 2px 2px rgba(5,51,22,0.3)}
.recover-form .button span:hover{background-color:#0fbaf5;background-color:rgba(0,153,204,0.72)}
.recover-form td .button a span:hover{background-color:#0fbaf5;background-color:rgba(0,153,204,0.72)}
.recover-form .button a span:active{background-color:#09c}
.success{border:1px solid #91bdff;border-left:none;border-right:0;padding:6px 7px 6px 7px;margin-bottom:20px;font-weight:bold;background:#b2e0ff;margin:3px 0 3px 0;display:block;color:#3603b8}
.error{border:1px solid #e00000;border-left:none;border-right:0;padding:6px 7px 6px 7px;margin-bottom:20px;font-weight:bold;background:#ffa;margin:3px 0 3px 0;display:block;color:#f00}
.poll-box{border:1px solid #e0e0e0;margin-top:15px;padding:0 0 10px 0}
.poll-box .head{margin:5px 5px 10px 5px;font-weight:bold;font-size:13px;color:#008a9c;border-bottom:1px solid #e0e0e0;padding:0 0 6px 35px;background: url(../../publish/img/utility-icon.png) 2px -1062px no-repeat;}
.poll-box .content>div{position:relative;height:32px;margin:0 0 10px 0}
.poll-box .content input[type='radio']{width:12px}
.poll-box .content .name{width:90px;position:absolute;top:0;left:20px;color:#b60000}
.poll-box .content .poll-item{width:90px;height:10px;position:absolute;top:3px;left:110px;border:1px solid #e0e0e0}
.poll-box .content .poll-item .poll-percent{background:#11b6e0;height:100%;width:0}
.poll-box .content .numberofvote{position:absolute;top:0;left:208px;color:#999}
.poll-box .button{text-align:center;text-decoration:none;padding:5px 15px 5px 15px;margin:0;border-radius:3px;cursor:pointer;color:#fff;line-height:18px;border:0;background-color:#09c}
.poll-box .button:hover{background-color:#6ac3e6}
.poll-box .button:active{background-color:#09c}
.fielderror{background:#ffa!important;border:1px solid red!important}
.register-form{margin:10px 5px 10px 5px;padding:5px;border:solid 15px #c1d3e1;border:solid 15px rgba(4,78,136,0.24);width:390px;box-shadow:5px 4px 10px #ddd;background-color:#fff;display:none;position:absolute;top:50px;left:37%;z-index:1002}
.register-form .title{height:30px;line-height:30px;text-align:center;font-size:16px;font-weight:bold;margin-bottom:0;color:#74a8f5}
.register-form .notices{padding:10px 0 0 0;margin:0}
.register-form .notices ul{padding:0 0 0 25px;margin:0}
.register-form .notices ul li{padding:0;list-style:disc;color:red;line-height:20px}
.register-form .row{margin:0 0 7px 12px;position:relative;clear:both}
.register-form .expand{display:none}
.register-form .col1{float:left;width:160px;line-height:28px}
.register-form input[type='text'],.register-form input[type='password']{width:200px;height:22px}
.register-form select{width:201px;padding:1px}
.register-form textarea{height:100px;width:194px}
.register-form .button{text-align:right;margin-right:15px}
.register-form .button span{display:inline-block;width:70px;text-align:center;text-decoration:none;padding:5px 10px 5px 10px;margin:10px 0 0 10px;border-radius:3px;background-color:#09c;color:#fff;cursor:pointer;box-shadow:0 2px 2px rgba(5,51,22,0.3)}
.register-form .button span:hover{background-color:#0fbaf5;background-color:rgba(0,153,204,0.72)}
.register-form .message-box{margin:10px 5px 10px 5px;padding:10px;border:solid 5px #c1d3e1;border:solid 5px rgba(4,78,136,0.24);width:250px;box-shadow:5px 4px 10px #ddd;background-color:#fff;position:absolute;top:20%;left:40px;z-index:1011;display:none}
.register-form .note{color:red;font-weight:bold}
.register-form .message-box .message{text-align:center;line-height:20px}
.register-form .message-box .button{text-align:center}
.register-form .message-box .button span{display:inline-block;width:70px;text-align:center;text-decoration:none;padding:5px 10px 5px 10px;margin-top:10px;border-radius:3px;background-color:#09c;cursor:pointer;color:#fff;display:none}
.register-form .message-box .button span:hover{background-color:#3fa6c9;background-color:rgba(0,153,204,0.72)}
.register-form .message-box span:active{background-color:#09c}
.register-form .suggesstion{display:none;position:absolute;bottom:28px;right:-210px;background:#bce3f5;z-index:10;border:1px solid #ccc;padding:3px;width:285px}
.register-form .txtareasuggesstion{bottom:108px}
.register-form .suggesstion ul{padding:0 0 0 23px;margin:0;color:#fff;list-style-type:square}
.register-form .suggesstion ul li{color:#1a9e54;font-size:15px;margin:0 0 5px 0}
.register-form .suggesstion ul li span{color:#074e7d;font-size:12px;text-align:justify}
.register-form .not-use-email{color:Blue}
.hot-links .item{border:1px solid #e0e0e0}
.hot-links .title{margin:0;font-size:13px;padding:5px;line-height:20px;background-color:#0090b5;color:#fff;font-weight:bold;position:relative;border:1px solid #639ec4;text-align:center}
.hot-links ul{padding:0;margin:0}
.hot-links ul li{list-style:none;line-height:20px;height:20px;overflow:hidden;border-bottom:1px dashed #e0e0e0;padding:0 0 3px 5px;float:left;width:48%}
.hot-links ul li a{color:#09C;text-decoration:none;font-size:12px}
.hot-links ul li a.colo2{color:#d13a3a}
.hot-links ul li a:hover{text-decoration:underline}
.house-bottom-navigation{border:1px solid #d6d2c8;overflow:hidden;margin:10px 0 0 0;background:#f1f1f1;width:998px;font-family:Arial;line-height:1.5}
.house-bottom-navigation ul{padding:5px 0 0 0;margin:0}
.house-bottom-navigation ul li{list-style:none;line-height:20px;height:20px;overflow:hidden;border-bottom:1px dashed #e0e0e0;padding:0 0 3px 5px;float:left;width:12%}
.house-bottom-navigation ul li:last-child{clear:both;float:none}
.house-bottom-navigation ul li a{color:#362f2d;text-decoration:none;font-size:12px}
.house-bottom-navigation ul li a.colo2{color:#d13a3a}
.house-bottom-navigation ul li a:hover{text-decoration:underline}
.guest-config{position:fixed;right:0;bottom:0;background:#fff;width:260px;border:1px solid #e0e0e0;border-right:0;display:none;z-index:10}
.guest-config .head{background:#0a9021;font-size:13px;padding:5px;color:#fff;cursor:pointer}
.guest-config .head .saved-property-tab{background:url(../../publish/img/utility-icon.png) -5px -453px no-repeat;display:inline-block;text-indent:19px;margin:0 10px 0 0}
.guest-config .head .saved-property-tab:hover,.guest-config .head .ignored-member-tab:hover{text-decoration:underline;cursor:pointer}
.guest-config .head .ignored-member-tab{background:url(../../publish/img/utility-icon.png) -5px -502px no-repeat;display:inline-block;text-indent:20px}
.saved-property-box{position:absolute;display:none;z-index:101;width:690px;border:1px solid #e0e0e0;border-bottom:0}
.saved-property-fade{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background-color:black;z-index:100;-moz-opacity:.4;opacity:.40;filter:alpha(opacity=40);position:fixed}
.saved-property-box .head{background:#10557e;color:#fff;line-height:30px;height:30px;text-indent:10px;font-weight:bold;font-size:12px;text-transform:uppercase}
.saved-property-box .head .close{position:absolute;right:0;background: url(../../publish/img/utility-icon.png) 2px -521px no-repeat;height:30px;width:30px;cursor:pointer;}
.saved-property-box .content{min-height:200px;background:#fff;font-size:13px}
.saved-property-box .content .item{padding:7px 4px 7px 35px;border-bottom:1px solid #ddd;position:relative}
.saved-property-box .item .remove{background: url(../../publish/img/utility-icon.png) -3px -478px no-repeat;width:20px;height:20px;display:inline-block;position:absolute;left:6px;top:15px;border:1px solid #ccc;}
.saved-property-box .item .remove:hover{border:1px solid red}
.saved-property-box .item>a{color:#085eaf;font-weight:bold;text-decoration:none}
.saved-property-box .item>a:hover{text-decoration:underline}
.saved-property-box .item .row1:hover{color:#085eaf;text-decoration:underline}
.saved-property-box .item .row2{display:block;position:relative}
.saved-property-box .item .price{color:red}
.saved-property-box .item .square{color:#555}
.saved-property-box .item .contact{position:absolute;bottom:0;right:0}
.saved-property-box .item .agent{font-weight:bold}
.saved-property-box .item .fone a{text-decoration:none;color:#da1212}
.ignored-member-box{position:absolute;display:none;z-index:101;width:690px;border:1px solid #e0e0e0;border-bottom:0;background:#fff}
.ignored-member-fade{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background-color:black;z-index:100;-moz-opacity:.4;opacity:.40;filter:alpha(opacity=40);position:fixed}
.ignored-member-box .head{background:#10557e;color:#fff;line-height:30px;height:30px;text-indent:10px;font-weight:bold;font-size:12px;text-transform:uppercase}
.ignored-member-box .head .close{position:absolute;right:0;background: url(../../publish/img/utility-icon.png) 2px -521px no-repeat;height:30px;width:30px;cursor:pointer;}
.ignored-member-box .content{min-height:200px;font-size:13px}
.ignored-member-box .content .item{padding:7px 4px 7px 35px;border-bottom:1px solid #ddd;position:relative;width:44%;display:inline-block}
.ignored-member-box .item .remove{background: url(../../publish/img/utility-icon.png) -3px -478px no-repeat;width:20px;height:20px;display:inline-block;position:absolute;left:6px;top:4px;border:1px solid #ccc;}
.ignored-member-box .item .remove:hover{border:1px solid red}
.ignored-member-box .item .agent{font-weight:bold}
.ignored-member-box .item .fone{text-decoration:none;color:#da1212}
#to_top{position:fixed;right:10px;bottom:20px;z-index:10;text-align:center;text-decoration:none;opacity:.3}
.top-link{margin: 0 0 15px 5px;position:relative;line-height:24px;z-index:2;width:670px;}
.top-link a{text-decoration:none;color:#157b8f;font-size:14px;white-space:nowrap}
.top-link a:hover{text-decoration:underline}
.top-link .title{display:inline-block;margin:0 0 0 5px;padding:0 0 0 8px;background: url(../../publish/img/utility-icon.png) -10px -634px no-repeat;/* background-position:left; */background-repeat:no-repeat;}
.autocomplete-suggestions{border:1px solid #999;background:#FFF;cursor:default;overflow:auto;-webkit-box-shadow:1px 4px 3px rgba(50,50,50,0.64);-moz-box-shadow:1px 4px 3px rgba(50,50,50,0.64);box-shadow:1px 4px 3px rgba(50,50,50,0.64)}
.autocomplete-suggestion{padding:2px 5px;white-space:nowrap;overflow:hidden;line-height:22px}
.autocomplete-no-suggestion{padding:2px 5px}
.autocomplete-selected{background:#d4e1e9}
.autocomplete-suggestions strong{font-weight:bold;color:#2b74e2}
.top-contact{position:fixed;top:0;left:0;width:100%;z-index:1010;height:40px;overflow:hidden}
.top-contact>div{width:1000px;margin:auto;color:#fff;background:#10557e;position:relative;line-height:20px}
.top-contact .row2{text-indent:10px}
.top-contact .staff{font-weight:bold}
.top-contact .staff .name{color: #E8FF42}
.top-contact .staff .number{color: #0fbaf5}
.top-contact .help{z-index: 1;position: absolute;top: 8px;right: 3px;color: #fff;padding: 0px 25px 0px 0px;background: url(../../publish/img/utility-icon.png) no-repeat right -422px;}
.top-contact .help a{color: #F1D1D1}
.top-contact .work-time{color:#E8FF42}
/*HOME*/
.home-page .search-news-box{margin:10px 0 0 0}
.home-page .search-box{background-color:#fff;width:483px;float:left;margin-left:5px;padding:5px;border:dashed 1px #e0e0e0;border-radius:5px;box-shadow:3px 3px 4px rgba(0,0,0,0.2)}
.home-page .search-box:hover{box-shadow:none}
.home-page .search-box table td{position:relative}
.home-page .search-box table .location{width:100%;height:21px;text-indent:3px;text-align:left;color:#005aad}
.home-page .search-box table .suggesstion{display:none;position:absolute;top:28px;left:0;background:#fff;z-index:10;border:1px solid #ccc;padding:3px}
.home-page .search-box table .suggesstion .title{font-weight:bold;margin:0 0 3px 0}
.home-page .search-box table .suggesstion ul{padding:0 0 0 23px;margin:0;color:#fff;list-style-type:square}
.home-page .search-box table .suggesstion ul li{color:#1a9e54;font-size:15px;margin:0 0 5px 0}
.home-page .search-box table .suggesstion ul li span{color:#1370ad;font-size:12px;text-align:justify}
.home-page .search-box select{width:160px;height:28px;border:1px solid #ccc;border-radius:2px}
.home-page .search-box .btnsearch{height:34px;background-color:#09c;line-height:34px;width:100px;text-transform:uppercase;font-weight:bold;font-size:12px;color:#fff;cursor:pointer;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;box-shadow:0 2px 2px rgba(5,51,22,0.3)}
.home-page .search-box .btnsearch:hover{background-color:#0fbaf5;background-color:rgba(0,153,204,0.72)}
.home-page .search-box .btnsearch:active{background-color:#09c}
.home-page .search-box .advanced-search{display:inline-block;float:right;position:absolute;right:0;top:20px}
.home-page .search-box .advanced-search a{color:#1f5fb1;font-weight:bold;text-decoration:none}
.home-page .search-box .advanced-search a:hover{text-decoration:underline}
.home-page .news-box{float:right;width:485px;height:208px;margin:0;padding:0;margin-right:5px;position:relative;border:dashed 1px #e0e0e0;border-top:0;border-left:none;border-radius:0 0 5px 0;box-shadow:3px 3px 4px rgba(0,0,0,0.2)}
.home-page .news-box:hover{box-shadow:none}
.home-page .news-box #slides{position:relative;top:0;left:0;z-index:10;width:100%;height:100%}
.home-page .news-box .slides_container{overflow:hidden;position:relative;width:100%;height:180px}
.home-page .news-box .slides_container div{width:490px}
.home-page .news-box .item{padding-right:5px;position:relative}
.home-page .news-box .item .title{background-color:#1a9e54;padding:1px 0 0 10px;line-height:25px;height:25px;margin:0}
.home-page .news-box .item .title a{text-decoration:none;color:#fff;font-weight:bold;font-size:12px;display:inline-block;height:100%;text-transform:uppercase}
.home-page .news-box .item .content{padding-top:2px}
.home-page .news-box .item .image{float:left;height:150px;width:150px}
.home-page .news-box .item .image img{border:0;height:100%;width:100%}
.home-page .news-box .item .news{float:right;width:335px;padding-left:5px;height:150px;position:relative}
.home-page .news-box .item .content .detail{width:100%}
.home-page .news-box .item .content .detail a{text-decoration:none;font-weight:bold;color:#06f;display:inline-block;margin-bottom:3px}
.home-page .news-box .item .content .detail a:hover{text-decoration:underline}
.home-page .news-box .item .content .other-news{position:absolute;width:327px;bottom:0;left:5px;background-color:#eee;padding:0;margin:0;border-radius:6px}
.home-page .news-box .item ul{margin:5px 0 0 0;padding:0 0 0 5px}
.home-page .news-box .item li{margin:0;padding:3px 0 3px 10px;border-top:solid 1px #ccc;height:18px;line-height:18px;overflow:hidden}
.home-page .news-box .item li.first{border:0}
.home-page .news-box .item li a{text-decoration:none;color:#03f}
.home-page .news-box .item li a:hover{text-decoration:underline}
.home-page #content{margin:10px 0 0 0}
.home-page .content-left{width:670px;float:left;padding-left:5px}
.home-page .hot-project-box{margin:0 0 10px 0;position:relative}
.home-page .hot-project-box .head{text-shadow:1px 1px #2250e2;text-transform:uppercase;margin:0 0 3px 0;width:100%;padding:8px 0 8px 0;text-indent:10px;font-size:13px;font-weight:bold;color:white;background:#0090b5;background:-moz-linear-gradient(top,#0090b5,#59acc5);background:-o-linear-gradient(top,#0090b5,#59acc5);background:-ms-linear-gradient(top,#0090b5,#59acc5);background:-webkit-linear-gradient(top,#0090b5,#59acc5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0090B5',endColorstr='#59ACC5',gradientType='0')}
.home-page .hot-project-box .viewmore{position:absolute;top:10px;right:5px}
.home-page .hot-project-box .viewmore a{color:#fff;text-shadow:1px 1px #727272}
.home-page .hot-project-box .slides{position:relative;top:0;left:0;z-index:10;border:1px solid #e0e0e0}
.home-page .hot-project-box .slides_container .item{height:250px;display:block;position:absolute;left:0;right:0}
.home-page .hot-project-box .slides_container .item .caption{height:auto;z-index:500;position:absolute;bottom:0;left:0;right:0;padding:6px 0 5px 5px;background:#007397;background:rgba(0,0,0,0.29)}
.home-page .hot-project-box .slides_container .item .caption .name{font-size:15px;font-weight:bold;line-height:23px;color:#fff;text-shadow:none}
.home-page .hot-project-box .slides_container .item .caption .address{color:#edf70b}
.home-page .hot-project-box .slides .item img{width:670px;height:250px}
.home-page .hot-project-box .slides_container{height:250px}
.home-page .hot-project-box .slides .controls{margin:15px 5px 5px 5px;padding-left:5px}
.home-page .hot-project-box .slides .controls ul{line-height:21px;padding:0;margin:0;list-style:none}
.home-page .hot-project-box .slides .controls ul li{float:left;list-style:none;margin-right:5px;padding:7px 7px 0 7px;border:1px solid #CCC}
.home-page .hot-project-box .slides .controls ul li.current{color:#fff;background-color:#e0e0e0}
.home-page .hot-project-box .slides .controls ul li a{text-decoration:none}
.home-page .hot-project-box .slides .controls ul li a img{width:142px;height:80px}
.home-page .hot-project-box .slides .controls ul li a span{text-align:center;display:block;text-decoration:none;color:#1d8b4e;overflow:hidden;width:142px;height:22px}
.home-page .hot-project-box .static-content{padding:10px 0 0 12px}
.home-page .hot-project-box .static-item{width:210px;height:160px;display:inline-block;margin:0 8px 5px 0;position:relative}
.home-page .hot-project-box .static-item a{border:0;text-decoration:none}
.home-page .hot-project-box .static-item .project-name{padding:5px 0 0 0;color:#1565b1;height:20px;overflow:hidden;font-size:15px;line-height:19px}
.home-page .hot-project-box .static-item .project-address{color:#837e7e;height:20px;overflow:hidden;line-height:19px}
.home-page .hot-project-box .static-item .vipthumb{top:0;left:0;position:absolute}
.home-page .hot-project-box .static-item .prothumb{width:200px;height:109px;border:3px solid #fff;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(162,162,162,0.88);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(162,162,162,0.88);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(162,162,162,0.88)}
.home-page .hot-project-box .static-item img:hover{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.88);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.88);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.88)}
.home-page .new-property-box{margin:0 0 10px 0}
.home-page .vip-property-box{margin:0 0 5px 0;position:relative;border:1px solid #59acc5}
.home-page .vip-property-box sup{position:absolute;margin-top:-5px}
.home-page .vip-header{text-shadow:1px 1px #2250e2;text-transform:uppercase;margin:0;width:100%;padding:8px 0 8px 0;text-indent:10px;font-size:13px;font-weight:bold;color:white;background:#0090b5;background:-moz-linear-gradient(top,#0090b5,#59acc5);background:-o-linear-gradient(top,#0090b5,#59acc5);background:-ms-linear-gradient(top,#0090b5,#59acc5);background:-webkit-linear-gradient(top,#0090b5,#59acc5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0090B5',endColorstr='#59ACC5',gradientType='0')}
.home-page .vip-properties{background-color:#fff;padding:7px 0 0 3px}
.home-page .vip-property-box>.current{display:block}
.home-page .vip-properties .item{width:310px;float:left;margin:0 1px 7px 5px;padding:5px 5px 5px 5px;border:1px solid #e0e0e0;line-height:17px;position:relative}
.home-page .vip-properties .item:hover{box-shadow:none}
.home-page .vip-properties .item label{color:#000;font-weight:bold}
.home-page .vip-thumb{float:left;width:100px;height:70px;overflow:hidden}
.home-page .vip-properties .item .vipstar{position:absolute;bottom:0;right:0;width:83px}
.home-page .vip-thumb a img{width:100%;height:100%;border:0}
.home-page .vip-text{float:right;width:205px;line-height:20px}
.home-page .vip-title{height:31px;line-height:15px;overflow:hidden}
.home-page .vip-title a{color:#bb2c2c!important;text-decoration:none;font-weight:bold;background:url(../../publish/img/vip.gif) no-repeat right top;padding-right:30px}
.home-page .vip-title a:hover{text-decoration:underline}
.home-page .vip-kt{float:left}
.home-page .vip-price{color:red;font-weight:bold;float:right}
.home-page .vip-dis{font-weight:bold}
.home-page .vip-paging{text-align:center;margin:0 0 5px 0;padding:0}
.home-page .vip-paging span{display:inline-block;margin:0 2px 0 2px;text-decoration:none;color:#555;border:1px solid #ccc;width:25px;line-height:25px;border-radius:25px;cursor:pointer}
.home-page .vip-paging span:hover{background-color:#cd3a28;border:1px solid #cd3a28;color:#fff}
.home-page .vip-paging span.active{background-color:#cd3a28;border:1px solid #cd3a28;color:#fff}
.home-page .new-property-box .header{text-shadow:1px 1px #2250e2;text-transform:uppercase;margin:0;width:100%;padding:8px 0 8px 0;text-indent:10px;font-size:13px;font-weight:bold;color:white;background:#0090b5;background:-moz-linear-gradient(top,#0090b5,#59acc5);background:-o-linear-gradient(top,#0090b5,#59acc5);background:-ms-linear-gradient(top,#0090b5,#59acc5);background:-webkit-linear-gradient(top,#0090b5,#59acc5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0090B5',endColorstr='#59ACC5',gradientType='0')}
.home-page .new-property-box .item{background-color:#fff;padding:0}
.home-page .new-property-box .item{margin:0 0 10px 0;padding:5px 5px 5px 5px;border:1px dashed #CCC;box-shadow:3px 3px 4px rgba(0,0,0,0.2);border-radius:5px 5px 5px 5px}
.home-page .new-property-box .item:hover{box-shadow:none}
.home-page .new-property-box .item .thumbnail{float:left;margin:1px 5px 0 0;width:100px;max-height:100px;overflow:hidden}
.home-page .new-property-box .item .thumbnail img{max-width:100px;max-height:100px;min-width:100px;min-height:60px;border:0}
.home-page .new-property-box .items .text{float:right;width:545px}
.home-page .new-property-box .item label{color:#3a3a3a;font-weight:bold}
.home-page .new-property-box .item div{margin:0}
.home-page .new-property-box .ct_title{width:580px;float:left;overflow:hidden;margin-bottom:7px!important}
.home-page .new-property-box .ct_title a{color:#085eaf;text-decoration:none;font-weight:bold;font-size:13px}
.home-page .new-property-box .ct_title a:hover{text-decoration:underline}
.home-page .new-property-box .ct_title a:visited{color:#8d8db9}
.home-page .new-property-box .ct_date{float:right;text-align:right;color:#d64d4d}
.home-page .new-property-box .ct_des{text-align:justify}
.home-page .new-property-box .ct_kt{width:30%;float:left}
.home-page .new-property-box .ct_dt{width:30%;float:left;text-align:center}
.home-page .new-property-box .ct_dt sup{position:absolute;margin-top:-5px}
.home-page .new-property-box .ct_direct{width:30%;float:right;text-align:right}
.home-page .new-property-box .ct_price{width:30%;float:left;color:red;font-weight:bold}
.home-page .new-property-box .ct_dis{width:60%;float:right;text-align:right}
.home-page .new-property-box .ct_dis a{text-decoration:none;color:Black}
.home-page .new-property-box .ct_dis a:hover{text-decoration:underline}
.home-page .new-property-box .ct_brief{margin-bottom:10px!important;background:#f0f0f0;padding:5px;text-align:justify;border:1px solid #e0e0e0;border-radius:5px}
.home-page .new-property-box .ct_brief a{margin-left:15px;font-weight:bold;text-decoration:none;color:#1b93aa}
.home-page .new-property-box .ct_brief a:hover{text-decoration:underline}
.home-page .new-property-box .page{text-align:right;padding-right:5px;line-height:22px}
.home-page .new-property-box .page a{text-decoration:none;color:#085eaf;font-weight:bold}
.home-page .new-property-box .page a:hover{text-decoration:underline}
.home-page .content-right{width:305px;float:right;background:white;padding-right:5px}
.home-page .property-location-box{padding:0}
.home-page .property-location-box .title{margin:0;width:100%;padding:8px 0 8px 0;text-indent:10px;font-size:13px;font-weight:bold;color:white;background:#0090b5;background:-moz-linear-gradient(top,#0090b5,#59acc5);background:-o-linear-gradient(top,#0090b5,#59acc5);background:-ms-linear-gradient(top,#0090b5,#59acc5);background:-webkit-linear-gradient(top,#0090b5,#59acc5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0090B5',endColorstr='#59ACC5',gradientType='0')}
.home-page .property-location-box .content{padding:3px 0 0 5px;border:dashed 1px #e0e0e0;border-top:0;border-radius:0 0 5px 5px;box-shadow:3px 3px 4px rgba(0,0,0,0.2)}
.home-page .property-location-box .content:hover{box-shadow:none}
.home-page .property-location-box .item{float:left;width:135px}
.home-page .property-location-box .item ul{padding:0 0 0 5px;margin:0 0 10px 10px;list-style-type:square;color:#0c8999;font-size:15px}
.home-page .property-location-box .item ul li{margin:0;padding:0;font-size:12px}
.home-page .property-location-box .item ul li a{color:#06f;text-decoration:none;font-weight:bold}
.home-page .property-location-box .item ul li a:hover{text-decoration:underline}
.home-page .property-location-box .item h3{font-size:12px;margin:0 0 5px 0;padding:0}
.home-page .property-location-box .other-province{color:#666;font-size:13px;font-weight:bold;text-decoration:none}
.home-page .content-right .alonhadat-news{border:1px solid #e0e0e0;margin:0 0 5px 0}
.home-page .content-right .alonhadat-news .title{padding:5px;color:#fff;font-weight:bold;font-size:13px;padding:8px 0 8px 10px;background:#d13d3d;background:-moz-linear-gradient(top,#c00909,#e76969);background:-o-linear-gradient(top,#c00909,#e76969);background:-ms-linear-gradient(top,#c00909,#e76969);background:-webkit-linear-gradient(top,#c00909,#e76969);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C00909',endColorstr='#E76969',gradientType='0')}
.home-page .content-right .alonhadat-news .content ul{margin:0;padding:5px 0 0 0;list-style-type: square;color: #bd1717;}
.home-page .content-right .alonhadat-news .content ul li{margin: 0 0 5px 20px;padding: 0 55px 0 0px;line-height:16px;position:relative;}
.home-page .content-right .alonhadat-news .content ul li a{text-decoration:none;color:#047094;margin:0 5px 0 0}
.home-page .content-right .alonhadat-news .content ul li a:hover{text-decoration:underline}
.home-page .content-right .alonhadat-news .content ul li .date{position:absolute;top:0;right:5px;font-size:11px;color:#a83434}
.home-page .container{width:800px;margin:0 auto}
/*=== PROPERTY ==*/
.plp #content{margin:0}
.plp .h1title{margin:0;font-size:20px;font-weight:bold;text-align:center;margin-bottom:5px;color:#1579a8;width:678px;line-height:25px}
.plp .h1title p{margin:0;padding:5px 0 0 5px;font-size:15px;font-weight:normal;text-align:left;color:#c3740b;line-height:18px}
.plp .h1title p span{font-style:normal;color:#0c960a;font-size:14px}
.plp .line{height:1px;border:0;margin:0 0 10px 0;width:600px}
.plp #content-body{margin:5px 0 0 0}
.plp #left{width: 678px;float:left;}
.plp form{margin:0;padding:0}
.plp .top-line{border:0;height:1px;margin:10px 0 10px 0;width:600px}
.plp #left .content-items{background-color:#fff;padding:0;margin-left:5px}
.plp #left .content-item{margin:0 0 10px 0;padding:5px 5px 5px 5px;border:1px dashed #CCC;box-shadow:3px 3px 4px rgba(0,0,0,0.2);border-radius:5px 5px 5px 5px;position:relative}
.plp #left .content-item .chinhchu{color:#dd0606;padding:0 3px 0 0;font-style:italic;text-align:right;line-height:20px;height:20px}
.plp #left .content-item .chinhchu span{background:#e43434;padding:1px 15px 1px 15px;position:absolute;top:-1px;right:-1px;color:#fff;font-size:13px;background:-webkit-linear-gradient(top,#e43434,#bf2323);background:-moz-linear-gradient(top,#c0c72d,#dce434);background:-o-linear-gradient(top,#c0c72d,#dce434);background:-ms-linear-gradient(top,#c0c72d,#dce434);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0C72D',endColorstr='#DCE434',gradientType='0')}
.plp #left .content-item:hover{box-shadow:none}
.plp #left .content-item .thumbnail{float:left;margin:1px 5px 0 0;width:100px;max-height:100px;overflow:hidden}
.plp #left .content-item .thumbnail img{max-width:100px;max-height:100px;min-width:100px;min-height:60px;border:0}
.plp #left .content-item .text{float:right;width:550px}
.plp #left .content-item label{color:#3a3a3a;font-weight:bold}
.plp #left .content-item .ct_title{width:550px;float:left;overflow:hidden;margin-bottom:3px!important}
.plp #left .content-item .ct_title a{color:#085eaf;text-decoration:none;font-weight:bold;font-size:13px}
.plp #left .content-item .ct_title a:hover{text-decoration:underline}
.plp #left .content-item .ct_title a:visited{color:#8d8db9}
.plp #left .content-item .ct_date{float:right;text-align:right;color:#d64d4d}
.plp #left .content-item .ct_des{text-align:justify}
.plp #left .content-item .square-direct{line-height:20px}
.plp #left .content-item .ct_kt{width:25%;float:left}
.plp #left .content-item .ct_dt{width:40%;float:left}
.plp #left .content-item .ct_dt sup{position:absolute;margin-top:-5px}
.plp #left .content-item .ct_direct{width:30%;float:right;text-align:right;font-weight:bold;color:#00F}
.plp #left .content-item .price-dis{height:18px;overflow:hidden;margin-bottom:3px}
.plp #left .content-item .characteristics>span{height:22px;line-height:22px}
.plp #left .content-item .road-width{display:inline-block;width:120px;background: url('../../publish/img/utility-icon.png') 0 -766px no-repeat;text-indent:27px;}
.plp #left .content-item .floors{display:inline-block;width:120px;background: url('../../publish/img/utility-icon.png') 0 -789px no-repeat;text-indent:27px;}
.plp #left .content-item .bedroom{display:inline-block;width:130px;background: url('../../publish/img/utility-icon.png') 0 -810px no-repeat;text-indent:27px;}
.plp #left .content-item .parking{display:inline-block;width:90px;background: url('../../publish/img/utility-icon.png') 0 -835px no-repeat;text-indent:27px;}
.plp #left .content-item .ct_price{width:30%;float:left;color:red;font-weight:bold}
.plp #left .content-item .ct_dis{width:70%;float:right;text-align:right;color:#000;font-weight:bold}
.plp #left .content-item .ct_dis a{text-decoration:none;color:Black}
.plp #left .content-item .ct_dis a:hover{text-decoration:underline}
.plp #left .content-item .distance{text-align:right;font-style:italic;color:#777}
.plp #left .content-item .ct_brief{margin-bottom:10px!important;background:#f0f0f0;padding:5px;text-align:justify;border:1px solid #e0e0e0;border-radius:5px}
.plp #left .content-item .ct_brief a{margin-left:15px;font-weight:bold;text-decoration:none;color:#1b93aa}
.plp #left .content-item .ct_brief a:hover{text-decoration:underline}
.plp #left .content-item .project a{font-weight:bold;text-decoration:none;color:#0a5cc4}
.plp #left .content-item .project a:hover{text-decoration:underline}
.plp #left .recommend-properties{margin:30px 0 10px 5px}
.plp #left .recommend-property-title{margin:30px 0 10px 0;font-weight:bold;font-size:16px;color:#000;border-top:1px solid #e0e0e0;padding:10px 0 0 5px}
.plp #left .tag-box{padding:5px}
.plp #left .tag-box a{text-decoration:none;color:#085eaf}
.plp #left .tag-box a:hover{text-decoration:underline}
.plp .page{text-align:right;margin:0;padding:0}
.plp .page a{display:inline-block;margin:0 0 0 2px;background-color:#006786;padding:5px 9px 5px 9px;text-decoration:none;color:#fff}
.plp .page a:hover{background-color:#09c}
.plp .page a.active{background-color:#09c}
.plp #left .property-type-article{margin:5px 0 0 5px}
.plp #left .property-type-article .title{margin:0;font-size:13px;padding:5px;line-height:20px;background:#e46767;color:#fff;font-weight:bold;position:relative;border:1px solid #e46767;text-align:center}
.plp #left .property-type-article .content{border:1px solid #e0e0e0;padding:5px;text-align:justify}
.plp #left .property-type-article .content ul{padding:0 0 0 15px;margin:0}
.plp #left .property-type-article .content ul li{line-height:16px;margin:0 0 5px 0;font-size:13px}
.plp #right{width:305px;float:right;padding:0 5px 0 0;position:relative;z-index:1}
.plp .search-box{background-image:url(../../publish/img/search-bg.png);background-repeat:repeat;position:relative;height:185px;width:293px;margin:0 5px 5px 0;padding:5px;z-index:10000;border:solid 1px #c8c8c8}
.plp .search-box .location{width:100%;height:21px;text-indent:3px;text-align:left;color:#005aad;font-size:12px}
.plp .search-box .suggesstion{display:none;position:absolute;top:33px;left:0;background:#fff;z-index:1010;border:1px solid #ccc;padding:3px}
.plp .search-box .suggesstion .title{font-weight:bold;margin:0 0 3px 0}
.plp .search-box .suggesstion ul{padding:0 0 0 23px;margin:0;color:#fff;list-style-type:square}
.plp .search-box .suggesstion ul li{color:#1a9e54;font-size:15px;margin:0 0 5px 0}
.plp .search-box .suggesstion ul li span{color:#1370ad;font-size:12px;text-align:justify}
.plp .search-box .button-search{position:absolute;right:5px;top:140px;height:28px;width:100px;font-weight:bold;color:#fff;text-align:center;line-height:28px;border-radius:3px;border:1px solid #c8c8c8;background-color:#f04343;cursor:pointer}
.plp .search-box .button-search:hover{background-color:#df2a2a}
.plp .search-box .button-search:active{background-color:#f04343}
.plp .search-box .button-search:hover{border:1px solid #aaa}
.plp .search-box .advanced-search{position:absolute;right:5px;top:175px}
.plp .search-box .advanced-search a{color:#1f5fb1;font-weight:bold;text-decoration:none}
.plp .search-box .advanced-search a:hover{text-decoration:underline}
.plp .search-box .province-container{width:140px;position:absolute;top:70px;right:160px;z-index:1002}
.plp .search-box .district-container{width:150px;position:absolute;top:70px;right:5px;z-index:1002}
.plp .search-box .square-container{width:140px;position:absolute;top:105px;right:160px;z-index:1001}
.plp .search-box .price-container{width:150px;position:absolute;top:105px;right:5px;z-index:1001}
.plp .search-box .direct-container{width:140px;position:absolute;top:140px;right:160px;z-index:1000}
.plp .search-box .demand-container{width:140px;position:absolute;top:35px;right:160px;z-index:1003}
.plp .search-box .property-type-container{width:150px;position:absolute;top:35px;right:5px;z-index:1003}
.plp .search-box .text{height:28px;line-height:28px;font-size:12px;border:1px solid #c8c8c8;cursor:pointer;text-indent:5px;color:#000;background: #fafafa;background: -webkit-linear-gradient(top,#fefefE,#f0f0f0);background:-moz-linear-gradient(top,#fefefE,#f0f0f0);background:-o-linear-gradient(top,#fefefE,#f0f0f0);background:-ms-linear-gradient(top,#fefefE,#f0f0f0);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefE',endColorstr='#f0f0f0',gradientType='0')}
.plp .search-box .text:after {content: '';position: absolute;right: 9px;top: 13px;width: 0;height: 0;border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #8e8c8c;clear: both}
.plp .search-box .view{display:none;background:#fff;position:absolute;width:100%;top:30px;right:0}
.plp .search-box .view ul{margin:0;padding:0;background:#fff;border:1px solid #c8c8c8}
.plp .search-box .view ul li{list-style:none;text-indent:5px;color:#000;font-weight:normal;font-size:13px;cursor:pointer;line-height:22px}
.plp .search-box .view ul li:hover{background:#e5e5e5}
.plp .search-box .multicolumns .view{width:490px;border:1px solid #c8c8c8;padding-bottom:5px}
.plp .search-box .multicolumns .view>span{background:url(../../publish/img/utility-icon.png) right -523px no-repeat;width:100%;line-height:26px;display:block;position:relative;z-index:1000;top:0;right:0;cursor:pointer;background-color:#f5f5f5;font-weight:bold;font-size:15px;text-decoration:none;color:#000;text-indent:5px;margin-bottom:5px}
.plp .search-box .multicolumns .view ul{float:left;border:0;background:#fff;width:160px}
.plp .search-box .multicolumns .view ul li{text-indent:0;margin:0;padding:0;line-height:20px;text-indent:5px}
.plp .search-box .multicolumns .view ul h3{margin:0;padding:0 0 5px 0;font-size:13px;text-indent:5px}
.plp .search-box .square-container .text{line-height:24px}
.plp .ajax-loading{height:170px;background:url(../../publish/img/loader.gif) no-repeat center;display:none}
.plp #right .list-agent .title{margin:0;font-size:13px;padding:5px;line-height:20px;background-color:#0090b5;color:#fff;font-weight:bold;position:relative;border:1px solid #639ec4;text-align:center}
.plp #right .list-agent .content{border:1px solid #e0e0e0;padding:5px 5px 5px 5px;max-height:500px;overflow-y:scroll}
.plp #right .list-agent .content .item{border-bottom:1px solid #e0e0e0;margin:0 0 5px 0;overflow:hidden;height:100px;position:relative}
.plp #right .list-agent .content .item .avatar{margin:0;float:left}
.plp #right .list-agent .content .item .avatar img{width:100px;max-height:133px;margin:0 5px 0 0}
.plp #right .list-agent .content .item .fullname{color:#0862a5;font-size:13px;font-weight:bold;background: url(../../publish/img/utility-icon.png) 99px -1012px no-repeat;padding:0 0 0 125px;}
.plp #right .list-agent .content .item .phone{margin:5px 0 0 0;color:#bd0707;font-size:12px;line-height:18px;font-weight:bold}
.plp #right .list-agent .content .item .phone>div{background: url(../../publish/img/utility-icon.png) 99px -1038px no-repeat;padding:0 0 0 125px;}
.plp #right .list-agent .content .item .introduce{margin:5px 0 0 0;text-align:justify;font-size:13px;line-height:18px}
.plp #right .list-agent .content .item .introduce .expand{color:Blue;cursor:pointer;position:absolute;right:0;bottom:0;background:#fff;padding:0 10px 0 10px}
.plp #right .list-agent .content .item .introduce .expand:hover{text-decoration:underline}
.plp #right .right-navigation-box .item{border:1px solid #e0e0e0}
.plp #right .right-navigation-box h2{margin:0;font-size:13px;padding:5px;line-height:20px;background-color:#0090b5;color:#fff;font-weight:bold;position:relative;border:1px solid #639ec4;text-align:center}
.plp #right .right-navigation-box ul h3{margin:5px 0 5px 5px;clear:both}
.plp #right .right-navigation-box ul{padding:0;margin:0;max-height:500px;overflow:auto}
.plp #right .right-navigation-box ul li{list-style:none;line-height:20px;height:20px;overflow:hidden;border-bottom:1px dashed #e0e0e0;padding:0 0 3px 5px}
.plp #right .right-navigation-box ul li a{color:#09C;text-decoration:none;font-size:12px}
.plp #right .right-navigation-box ul li a:hover{text-decoration:underline}
.plp #right .right-navigation-box ul.two-col{overflow:inherit}
.plp #right .right-navigation-box ul.two-col li{float:left;width:48%}
.plp #right .right-navigation-box ul.two-col li:nth-last-child(1){float:none;width:100%}
.plp .bottom-navigation{padding:0}
.plp .bottom-navigation h2{margin:0;font-size:13px;padding:5px;line-height:20px;background-color:#0090b5;color:#fff;font-weight:bold;position:relative;border:1px solid #639ec4;text-align:center}
.plp .bottom-navigation ul{border:1px solid #e0e0e0;border-top:0;padding:5px 0 0 5px;margin:0 0 10px 5px}
.plp .bottom-navigation ul li{margin:0;padding:5px 0 5px 0;list-style:none;line-height:20px;width:50%!important;float:left}
.plp .bottom-navigation ul li a{color:#09C;text-decoration:none}
.plp .bottom-navigation ul li a:hover{text-decoration:underline}
.plp .bottom-navigation .number{color:#c02929;font-weight:bold}
.plp .list-property-footer{margin:10px 0 0 0}
.plp .list-property-footer .location-page{padding:5px;background:#f5f5f5;border-top:1px solid #ddd}
.plp .list-property-footer .location-page *{line-height:18px!important;text-align:justify}
.plp .list-property-footer .location-page a{text-decoration:none}
.plp .list-property-footer-left{float:left;width:550px}
.plp .list-property-footer-right{float:right}
.plp .list-property-footer-right .google-map .title{margin:0;font-size:13px;padding:5px;line-height:20px;background-color:#0090b5;color:#fff;font-weight:bold;position:relative;border:1px solid #639ec4;text-align:center}
.plp .property{font-size:13px;border:1px solid #e0e0e0;margin:0 0 0 5px;position:relative;line-height:22px}
.plp .property sup{position:absolute;margin-top:-5px}
.plp .property .expired{position:absolute;top:0;right:0;width:100%;height:220px;text-align:center}
.plp .property>.title{border-bottom:1px solid #e0e0e0}
.plp .property .title h1{font-size:16px;font-weight:bold;color:#06F;border:0;padding:5px 5px 0 5px;margin:0;line-height:20px}
.plp .property .date{font-size:13px;font-style:italic;font-weight:normal;text-align:right;color:#d64d4d;margin:0;padding:0 5px 0 0;display:block;height:20px}
.plp .property .detail{text-align:justify;white-space:3px;padding:5px}
.plp .property .detail *{max-width:100%!important}
.plp .property .detail table{border:1px solid #ccc;border-right:0;border-top:0;margin:5px 0 5px 0}
.plp .property .detail table td{border:1px solid #ccc;border-left:none;border-bottom:0;padding:5px}
.plp .property .text-content{white-space:pre-wrap}
.plp .property .detail img{max-width:100% !important}
.plp .property .moreinfor{padding:5px}
.plp .property .moreinfor span{display:inline-block;font-size:17px}
.plp .property .moreinfor .price{width:255px;float:left}
.plp .property .moreinfor .square{width:250px;float:left}
.plp .property .moreinfor .square sup{position:absolute;margin-top:-5px}
.plp .property .moreinfor span.value{color:red;font-weight:bold}
.plp .property .address{font-size:15px;padding:0 5px 0 5px}
.plp .property .address .value{color:#06c;font-weight:bold}
.plp .property .agent-fee{color:#259e24;padding:0 5px 0 5px;font-size:14px}
.plp .property div.contact{padding: 0px;font-size:15px;}
.plp .property .contact-info{margin:5px 0 0 0;font-size:13px}
.plp .property .contact-info .title{background:#e57619;padding:0 0 0 4px;font-size:15px;font-weight:normal;color:#fff;margin:0;width:150px}
.plp .property .contact-info .content{padding: 5px 0 10px 0px;border:1px solid #e0e0e0;border-left: none;border-right: none;}
.plp .property .contact-info .content .name{font-size:17px;margin: 0 0 0px 0;padding: 4px 0px 3px 40px;font-weight:bold;background: url(../../publish/img/utility-icon.png) 6px -731px no-repeat;}
.plp .property .contact-info .content .fone{padding: 3px 0px 5px 40px;}
.plp .property .contact-info .content .fone a{font-size:17px;color:#da1212;margin:0 0 4px 0}
.plp .property .contact-info .content .introduce{line-height:18px;padding: 0px 0px 0px 40px;}
.plp .property .contact-info .review-box{margin: 5px 0px 0px 5px;}
.plp .property .contact-info .review-score{color:#f76504;font-size:13px;margin:0 4px 0 0}
.plp .property .contact-info .review-star{display:inline-block;width:96px;background:url(../../publish/img/star-list-news.png) repeat-x 0 0;height:14px}
.plp .property .contact-info .review-star .rate{background:url(../../publish/img/star-list-news.png) repeat-x 0 -13px;display:block;height:14px}
.plp .property .contact-info .review-text{margin: 0px 0px 5px 5px;}
.plp .property .contact-info .review-text .review-text-title{color:#000000; font-weight:bold}
.plp .property .contact-info .review-text .review-text-content{color:#d72929}
.plp .property .notices{padding:5px;color:#888}
.plp .property .notices h3{padding:3px 0 3px 0;margin:3px 0 0 0}
.plp .property .notices p{margin:0;text-align:justify;line-height:20px}
.plp .property .notices p a{color:#888;text-decoration:none}
.plp .property .tags{margin:10px 5px 0 0}
.plp .property .tags span{color:#000;font-weight:bold}
.plp .property .tags a{color:#4220c9;margin-top:5px;text-decoration:none;border-bottom:1px solid #e0e0e0;background:#eee;padding:0 5px 0 5px;margin:2px 5px 2px 5px}
.plp .property .tags a:hover{color:#df2f2f}
.plp .property .utility{text-align:right;margin:10px 0 5px 0;position:relative}
.plp .property .utility>span{display:inline-block;padding:1px 3px 1px 28px;margin:0 10px 0 0;border:1px solid #c7cfd2;background-color:#f0f0f0!important;border-radius:3px 3px 0 0;box-shadow:2px -1px 2px #ddd;cursor:pointer;outline:0}
.plp .property .utility>span:hover{box-shadow:2px -1px 2px #bbb}
.plp .property .utility .reflect{background:url(../../publish/img/utility-icon.png) 2px -1px no-repeat;color:#d62222}
.plp .property .utility .save{background:url(../../publish/img/utility-icon.png) 2px -32px no-repeat}
.plp .moreinfor1{padding:0;margin:5px 0 0 0}
.plp .moreinfor1 .title{border:0;display:block;padding:3px 5px 3px 5px;font-weight:bold;color:#000;border:1px solid #e0e0e0;border-left:none;border-right:0;background-color:#f5f5f5}
.plp .moreinfor1 table{width:100%}
.plp .moreinfor1 table .project a{font-weight:bold;font-size:14px;color:#055dcc;text-decoration:none}
.plp .moreinfor1 table .project a:hover{text-decoration:underline}
.plp .moreinfor1 table tr{height:25px}
.plp .moreinfor1 table tr td{padding-left:5px;border-bottom:1px solid #e0e0e0}
.plp .moreinfor1 table td:nth-child(odd){width:90px;color:#b92714}
.plp .moreinfor1 table td:nth-child(even){width:90px;border-right:1px solid #e0e0e0}
.plp .moreinfor1 table td:nth-child(6){width:30px}
.plp .moreinfor1 table .col2{width:130px}
.plp .moreinfor1 table .col3{width:100px;color:#00638a}
.plp .moreinfor1 table .even{background-color:#f5f5f5}
.plp .image-tab{margin:10px 0 0 0}
.plp .image-tab .selected{background-color:#efefef!important}
.plp .image-tab span{display:inline-block;cursor:pointer;color:#0f78da;outline:0;font-weight:bold}
.plp .image-tab .view-image{padding:5px 10px 0 0;text-indent:30px;background: url(../../publish/img/utility-icon.png) 3px -95px no-repeat;}
.plp .image-tab .view-map{text-indent:34px;background:url(../../publish/img/utility-icon.png) 8px -64px no-repeat;padding:5px 5px 0 0}
.plp div.images{text-align:center}
.plp img#limage{max-width: 670px;/* border: none; */-moz-box-shadow:0 0 5px #ccc;-webkit-box-shadow:0 0 5px #ccc;box-shadow:0 0 5px #ccc;}
.plp .images .imageview{background:#efefef;padding: 5px 0px 5px 0px;}
.plp .image-list{text-align:center;margin:0;border:1px solid #e0e0e0;border-right:0;border-left:none;padding:3px}
.plp .image-list span{list-style:none;margin:0 0 0 8px;padding:0}
.plp .image-list span img{height:60px;width:60px;cursor:pointer;border:2px solid #fff;-moz-box-shadow:0 0 5px #746e6e;-webkit-box-shadow:0 0 5px #746e6e;box-shadow:0 0 5px #746e6e}
.plp .image-list span img:hover{box-shadow:none;border:2px solid #eee}
.plp #left .relative-property h2{font-size:16px;padding:5px 0 0 5px;color:#1579a8}
.plp #left .relative-property .content-item .thumbnail{width:100px;height:60px;overflow:hidden}
.plp .viewmore{text-align:right;padding-right:5px;line-height:22px}
.plp .viewmore a{text-decoration:none;color:#06f;font-weight:bold;font-size:13px}
.plp .viewmore a:hover{text-decoration:underline}
.plp #right .groupbydistrict ul{overflow:hidden}
.plp #right .number{color:#c02929;font-weight:bold}
.plp #left .randomvip-box{margin:5px 0 0 5px}
.plp #left .randomvip-box .title h2{margin:0;font-size:13px;padding-left:5px;height:34px;line-height:34px;background-color:#ce3434;color:#fff;font-weight:bold;position:relative;border:1px solid #ce3434}
.plp #left .randomvip-box .content{border:1px solid #e0e0e0;padding:5px 0 0 7px}
.plp #left .randomvip-box .content .item{position:relative;padding:0;float:left;width:324px;margin:0 6px 5px 0;font-size:12px}
.plp #left .randomvip-box .content .extracolor{background:#fdfab0}
.plp #left .randomvip-box .content .item .thumbnail{width:100px;height:100px;overflow: hidden;}
.plp #left .randomvip-box .content .item .thumbnail img{width:100%;height:100%}
.plp #left .randomvip-box .characteristics{position:absolute;width:120px;top:41px;right:0;z-index:1}
.plp #left .randomvip-box .characteristics>span{height:22px;line-height:22px}
.plp #left .randomvip-box .road-width{display:inline-block;width:60px;background: url('../../publish/img/utility-icon.png') 0 -765px no-repeat;text-indent:27px;}
.plp #left .randomvip-box .floors{display:inline-block;width:59px;background: url('../../publish/img/utility-icon.png') 0 -789px no-repeat;text-indent:27px;}
.plp #left .randomvip-box .bedroom{display:inline-block;width:60px;background: url('../../publish/img/utility-icon.png') 0 -810px no-repeat;text-indent:27px;}
.plp #left .randomvip-box .parking{display:inline-block;width:50px;background: url('../../publish/img/utility-icon.png') 0 -835px no-repeat;text-indent:27px;}
.plp #left .randomvip-box .content .item .text{position:absolute;top:0;right:0;width:215px;padding:5px}
.plp #left .randomvip-box .content .item .ct_title{margin-bottom:3px;height:32px;overflow:hidden}
.plp #left .randomvip-box .content .item .ct_title a{color:#0054a6;text-decoration:none;font-weight:bold;font-size:12px}
.plp #left .randomvip-box .content .item .ct_title a:hover{text-decoration:underline}
.plp #left .randomvip-box .content .item label{color:#333}
.plp #left .randomvip-box .content .item .ct_price{color:#e40000;font-weight:bold;line-height:18px}
.plp #left .randomvip-box .content .item .ct_dt{font-weight:bold;line-height:18px}
.plp #left .randomvip-box .content .item .ct_dis{font-weight:bold;line-height:18px}
.plp .newest-property-box{margin:5px 0 0 5px}
.plp .newest-property-box .head{margin:0;font-size:16px;padding:5px;line-height:20px;font-weight:bold;position:relative;border-top:1px solid #e0e0e0}
.plp .newest-property-box .content{border:1px solid #ddd}
.plp .newest-property-box .content .item{margin:0;border-bottom:1px dotted #ccc;padding:3px 5px 3px 5px;cursor:pointer}
.plp .newest-property-box .content .item:hover{background:#f0f0f0}
.plp .newest-property-box .content .item>span{margin:0 5px 0 0}
.plp .newest-property-box .content .item .title{color:#0054a6;text-decoration:none;font-size:13px}
.plp .newest-property-box .content .item .square{color:#aaa;line-height:18px}
.plp .newest-property-box .content .item .price{color:#e40000;line-height:18px}
.plp .newest-property-box .content .item .district{line-height:18px}
.plp .review{position:absolute;left:0;top:-105px;padding-right:5px;text-align:justify}
.plp .review .text .name{font-weight:bold;color:#4fad02}
.plp .review .rating-box{height:20px;line-height:17px;font-style:italic;color:#666}
.plp .review .rating-box span{display:inline-block;line-height:14px}
.plp .review .rating-box .star{height:14px;overflow:hidden}
.plp .review .rating-box img{width:14px;margin:2px 3px 0 0}
.plp .review .rating-box input[type='radio']{margin:0 4px 0 0}
.plp #right .list-page-randomvip-box{margin:5px 0 0 0}
.plp #right .list-page-randomvip-box .title h2{margin:0;font-size:13px;padding-left:5px;height:34px;line-height:34px;background-color:#ce3434;color:#fff;font-weight:bold;position:relative;border:1px solid #ce3434}
.plp #right .list-page-randomvip-box .content{border:1px solid #e0e0e0;padding:5px 0 0 7px}
.plp #right .list-page-randomvip-box .content .item{position:relative;padding:0;margin:0 6px 5px 0;font-size:12px;cursor:pointer}
.plp #right .list-page-randomvip-box .content .item:nth-child(2n){background:#fdfab0}
.plp #right .list-page-randomvip-box .content .item .thumbnail{width:80px;height:80px}
.plp #right .list-page-randomvip-box .content .item .thumbnail img{width:100%;height:100%}
.plp #right .list-page-randomvip-box .content .item .text{position:absolute;top:0;right:0;width:195px;padding:5px}
.plp #right .list-page-randomvip-box .content .item .ct_title{margin-bottom:3px;height:32px;overflow:hidden;color:#0054a6;text-decoration:none;font-weight:bold;font-size:12px}
.plp #right .list-page-randomvip-box .content .item .ct_title:hover{text-decoration:underline}
.plp #right .list-page-randomvip-box .content .item label{color:#333}
.plp #right .list-page-randomvip-box .content .item .ct_price{color:#e40000;font-weight:bold;line-height:18px}
.plp #right .list-page-randomvip-box .content .item .ct_dt{font-weight:bold;line-height:18px}
.plp #right .list-page-randomvip-box .content .item .ct_dis{font-weight:bold;line-height:18px}
.plp .container{width:800px;margin:0 auto}
.plp .property .rent-notice{border:1px solid #e08181;background-color: #d5eeff;padding:3px;margin:5px 0 0 0;border-right:0;border-left:none;line-height:19px;}
.plp .property .rent-notice>div{font-weight:bold;color:#f92020}
.plp .property .rent-notice li{margin:0 0 0 20px;width:46%;float:left;font-size:12px}
.plp .property .rent-notice li a{color:Blue}
.plp #map{height:350px;margin:0}
.plp #map>iframe{width:100%;height:350px}
.plp .reflect-form{background-color: #fff3e5;box-shadow:5px 4px 20px #ffffff;position:relative;border-bottom: 1px solid #E0E0E0;padding: 0px 0px 10px 0px;margin: 0px 0px 10px 0px;}
.plp .reflect-form .title{background: #e51919;padding: 1px 0px 1px 5px;font-size: 13px;font-weight:bold;color:#fff;margin:0;}
.plp .reflect-form .notice{padding:5px;line-height:18px;font-size: 13px;text-align:justify;color: #1451c3;}
.plp .reflect-form .content{padding: 0px 0px 0px 10px;}
.plp .reflect-form .reason{padding:0;margin:0;list-style:none}
.plp .reflect-form .reason>div{padding:0;margin:0;line-height: 22px;cursor:pointer;float:left;width: 33%;}
.plp .reflect-form .reason>div.clear{float: none;}
.plp .reflect-form .reason>div span{display:inline-block}
.plp .reflect-form .other-reason .txtcontent{width: 647px;height: 60px;}
.plp .reflect-form .check-ignore {padding:5px 0px 0px 0px}
.plp .reflect-form .bdayignore {cursor:pointer}
.plp .reflect-form .btnSubmit{display:inline-block;width: 102px;text-align:center;text-decoration:none;padding:7px 10px 7px 10px;background-color:#e57619;cursor:pointer;color:#fff;border:0;box-shadow: 0 2px 2px rgba(5,51,22,0.3);}
.plp .reflect-form .btnSubmit:hover{background-color:#ce520b}
.plp .reflect-form .btnSubmit:active{background-color:#e57619}















