.inform-verify{padding:10px 0 10px 55px;margin:0 0 0 5px;background:#fff9aa url(../../publish/img/management-icon.png) 3px 7px no-repeat;font-size:14px;color:Red;line-height:20px}
.inform-verify a{color:Blue}
#content{margin:40px 0 5px 0;padding:0;position:relative;background:url(../../publish/img/vertical-line.jpg) 732px 0 repeat-y}
.page-title{display:none}
.right{float:right;width:230px;padding-right:5px}
.manage-menu{border-bottom:#e0e0e0 1px solid;padding:0;margin:0 0 10px 0}
.manage-menu>li{list-style:none;padding:0;margin:0}
.manage-menu>li>span{color:#fff;font-size:13px;text-align:center;font-weight:bold;display:block;line-height:33px;background:#0090b5;border:#0090b5 1px solid;border-top:0;border-bottom:0}
.manage-menu>li>ul{margin:0;padding:0}
.manage-menu>li>ul>li{margin:0;padding:0;line-height:30px;height:30px;list-style:none;border-top:solid 1px #e5e5e5;text-indent:15px;cursor:pointer;border-left:#e0e0e0 1px solid;border-right:#e0e0e0 1px solid}
.manage-menu>li>ul>li:hover{color:red;font-weight:bold}
.manage-menu>li>ul>li span{font-weight:bold;color:#e60000}
.manage-menu>li>ul>li.selected{font-weight:bold;color:red}
.manage-menu .personal-property-page a{text-decoration:none;color:blue}
.instruction{padding:0;margin:0 0 5px 0}
.instruction .title{border-radius:7px 7px 0 0;text-align:center;font-size:13px;font-weight:bold;line-height:20px;background:#e26a5a;color:#fff}
.instruction .content{border:#e0e0e0 1px solid;padding:5px 10px 5px 5px}
.instruction .content ul{margin:0;padding:0}
.instruction .content ul li{margin:0 0 5px 15px;padding:0;list-style:numeric;line-height:18px;text-align:justify}
.instruction .content ul li span{color:Red}
.left{float:left;width:750px;height:100%;position:relative;min-height:200px;padding-left:5px}
.content-box{position:relative}
.disable-left-box{position:absolute;z-index:100;top:0;left:0;right:0;bottom:0;background:rgba(255,253,253,0.48)}
.list-property-form .search-box{position:relative;height:88px;border-bottom:1px solid #e0e0e0;margin-bottom:5px}
.list-property-form .search-box .property-id input{width:80px}
.list-property-form .search-box .demand select{width: 102px;}
.list-property-form .search-box .property-type select{width:160px}
.list-property-form .search-box .district select{width: 158px;}
.list-property-form .search-box .createdate input{width:95px}
.list-property-form .search-box .row-show-box{position:relative;border-top:1px solid #e0e0e0;margin-top:5px;height:40px}
.list-property-form .search-box div.buyup{display:inline-block;position:absolute;right:140px;top:18px;text-indent:20px;color:#f04300;line-height:22px;font-size:13px;cursor:pointer}
.list-property-form .search-box div.buyup:hover{text-decoration:underline}
.list-property-form .search-box div.rowshow{display:inline-block;position:absolute;right:0;top:15px}
.list-property-form .search-box .rowshow select{height:25px}
.list-property-form .up-box{position:absolute;top:70px;font-size:14px;line-height:22px}
.list-property-form .up-box .uptimes{color:#1ab91a;font-size:15px;font-weight:bold}
.list-property-form .list-property{margin-top:23px}
.list-property-form .list-property .utils-action{text-align:right;position:relative}
.list-property-form .list-property .utils-action .upall{display:inline-block;background:url(../../publish/img/management-icon.png) -15px -164px no-repeat;text-indent:20px;color:#f04300;line-height:22px;font-size:13px;cursor:pointer}
.list-property-form .list-property .utils-action .upall:hover{text-decoration:underline}
.list-property-form .up-box .renew-block{width:25px;height:15px;display:inline-block;cursor:pointer;background:url(../../publish/img/management-icon.png) -13px -467px no-repeat}
.list-property-form .list-property table{border:#AAA 1px solid;border-top:0;border-right:0;width:100%;border-bottom:0}
.list-property-form .list-property table td{padding:5px 5px 0 5px;border:#AAA 1px solid;border-top:0;border-left:none;position:relative}
.list-property-form .list-property table th{color:white;padding:5px;border:#2ebbd6 1px solid;border-top:0;border-left:#0090b5 1px solid;line-height:22px;background-color:#0090b5}
.list-property-form .list-property table td:nth-child(1){text-align:center;width:30px}
.list-property-form .list-property table td:nth-child(2) img{width:55px;height:55px}
.list-property-form .list-property table td:nth-child(2){width:60px;text-align:center}
.list-property-form .list-property table td:nth-child(3){width:100px}
.list-property-form .list-property table td:nth-child(5){width:80px;text-align:center;color:#d64d4d;font-weight:bold}
.list-property-form .list-property table span.matin{display:block;font-weight:bold;padding:2px 5px 2px 5px;right:0;background:#fff}
.list-property-form .list-property table div.loaitin{font-weight:bold;line-height:30px;color:#d64d4d}
.list-property-form .list-property table div.loaibds{font-weight:bold;line-height:20px}
.list-property-form .list-property table .title a{color:#085eaf;font-weight:bold;line-height:20px}
.list-property-form .list-property table .title a:hover{text-decoration:underline}
.list-property-form .list-property table .address{margin-top:3px;color:#000;font-weight:bold;line-height:25px;border-top:1px dashed #d0d0d0;border-bottom:1px solid #e0e0e0}
.list-property-form .list-property table .date{padding-top:3px;padding-bottom:3px;color:#777}
.list-property-form .list-property table .vipdate span{padding-top:3px;padding-bottom:3px;color:#f10000}
.list-property-form .list-property table .date span{font-style:italic;color:#000}
.list-property-form .list-property table .action{border-top:solid 1px #e0e0e0;line-height:30px}
.list-property-form .list-property table .action span{color:#06f;display:inline-block;margin-right:15px;cursor:pointer;padding-left:20px}
.list-property-form .list-property table .action span:hover{text-decoration:underline}
.list-property-form .list-property table .action .edit{background:url(../../publish/img/management-icon.png) -13px -52px no-repeat}
.list-property-form .list-property table .action .delete{background:url(../../publish/img/management-icon.png) -13px -85px no-repeat}
.list-property-form .list-property table .action .stoppublish{background:url(../../publish/img/management-icon.png) -15px -236px no-repeat}
.list-property-form .list-property table .action .publishproperty{background:url(../../publish/img/management-icon.png) -14px -198px no-repeat}
.list-property-form .list-property table .action .showrepost{background:url(../../publish/img/management-icon.png) -14px -198px no-repeat}
.list-property-form .list-property table .action .renew{background:url(../../publish/img/management-icon.png) -15px -160px no-repeat}
.list-property-form .list-property table .setvip{padding-left:30px!important;background:url(../../publish/img/setvip.gif) left no-repeat}
.list-property-form .list-property table .expandvip{margin-right:0!important;padding-left:18px!important;background:url(../../publish/img/management-icon.png) -15px -121px no-repeat}
.list-property-form .list-property table tr td .freeupdate{color:#000;font-style:italic}
.vip{color:#bb2c2c!important;background:url(../../publish/img/vip.gif) no-repeat right top;padding-right:30px}
.list-property-form .list-property table td a{text-decoration:none;color:#006}
.list-property-form .list table td a:hover{text-decoration:underline}
.list-property-form .list-property div.page{text-align:right;margin-top:5px}
.list-property-form .list-property div.page span:first-child{border-top-left-radius:4px;border-bottom-left-radius:4px;border-left:1px solid #ddd}
.list-property-form .list-property div.page span{display:inline-block;text-decoration:none;padding:4px 12px;line-height:20px;background-color:#fff;border:1px solid #ddd;border-left:none;color:#08c;cursor:pointer}
.list-property-form .list-property span.active{font-weight:bold;color:#005580}
.list-property-form .list-property div.page span:hover{color:#005580;font-weight:bold}
.list-property-form .list-property .notice ul{color:#666;list-style:disc;margin:0;padding-left:25px}
.list-property-form .list-property .notice ul li{color:#000;line-height:20px}
.list-property-form .captcha-box{display:none;border:1px solid #e0e0e0;padding:3px;background-color:#f0f0f0}
.list-property-form .captcha-box img{width:90px;height:30px}
.list-property-form .captcha-box .captcha{height:26px;margin-left:5px;width:60px;background:#ffa!important;border:1px solid red!important;margin-right:6px}
.list-property-form .captcha-box .btncaptcha{width:75px;height:27px}
div.transactionhistory .account label{font-size:15px}
div.transactionhistory .account span{font-size:14px;color:Red}
div.transactionhistory h3{margin:15px 0 15px 0;color:#3a6edb;font-size:20px;position:relative}
div.transactionhistory .dvtransaction-date{position:absolute;top:0;right:0;font-size:12px;color:#000;font-weight:normal}
div.transactionhistory .dvtransaction-date .tran-date{width:100px;text-align:right;padding-right:3px;margin:0 5px 0 0}
div.transactionhistory .dvtransaction-date .tran-clear{display:inline-block;width:20px;height:18px;background:url(../../publish/img/management-icon.png) -15px -272px no-repeat;cursor:pointer;margin-right:3px}
div.transactionhistory .dvtransaction-date .bntSearchTran{width:75px;height:27px}
div.transactionhistory table{border:#a7a7a7 1px solid;border-top:0;border-right:0;width:100%;border-bottom:0}
div.transactionhistory table td{padding:5px 5px 5px 5px;border:#a7a7a7 1px solid;border-top:0;border-left:none;position:relative;line-height:22px}
div.transactionhistory table th{color:white;padding:5px;border:#2ebbd6 1px solid;border-top:0;border-left:#0090b5 1px solid;line-height:22px;background-color:#0090b5}
div.transactionhistory table td:nth-child(1){text-align:center;width:40px}
div.transactionhistory table td:nth-child(2){width:120px;text-align:right}
div.transactionhistory table td:nth-child(4){width:120px;text-align:center}
.paging{margin-top:5px;text-align:right;position:relative}
.paging .total{position:absolute;display:inline-block;top:0;left:5px;color:#b90e0e;font-weight:bold}
.paging span{display:inline-block;text-decoration:none;padding:4px 12px;line-height:20px;background-color:#fff;border:1px solid #ddd;border-left:none;color:#08c;cursor:pointer}
.paging span:hover{font-weight:bold;color:#005580}
.paging span:nth-child(2){border-left:1px solid #ddd!important}
.paging .active{font-weight:bold;color:#005580}
.propertyaddform{position:relative;min-height:297px}
.propertyaddform .summary{font-size:13px;padding:10px;line-height:20px;background:#f5f5f5;border:1px solid #e0e0e0;margin:0 0 5px 0}
.propertyaddform .fielderror{background:#ffa!important;border:1px solid red!important}
#myFrame{width:100%;min-height:2200px}
.propertyaddform .summary h1{font-size:inherit;line-height:inherit;display:inline;font-weight:normal}
.post-content{position:relative;border:solid 1px #ccc;min-height:297px;padding:0 0 10px 0}
.post-content .property-exit{position:absolute;right:0;top:0;display:inline-block;width:20px;height:20px;background:url(../../publish/img/management-icon.png) -13px -271px no-repeat;cursor:pointer}
.post-content .fielderror{background:#ffa!important;border:1px solid red!important}
.post-content .title{line-height:30px;height:30px;padding:0 0 0 5px;margin:0 0 5px 0;color:#fff;font-size:13px;font-weight:bold;background-color:#069ed2}
.border_radius_dashed{border:1px solid #e0e0e0;border-radius:3px}
.post-content input[type=text]{height:20px;line-height:20px;border:1px solid #e0e0e0;border-radius:3px}
.post-content .require{font-size:12px;color:Red;line-height:20px;display:none;font-weight:normal}
.post-content .row{margin:0 0 10px 0;position:relative;clear:both}
.post-content .row-address{margin-bottom:0}
.post-content .require-infor{padding:5px}
.post-content .row .col{position:relative}
.post-content .row .col .label{margin:0 0 5px 0;color:#000;float:left;width:120px;padding-top:10px}
.post-content .row .col .value{margin:0 0 5px 0;color:#777;display:inline-block;width:613px;position:relative}
.post-content .row .col1{width:415px;position:relative;float:left}
.post-content .row .col2{float:right;width:319px;position:relative}
.post-content .row .col1 .label,.post-content .row .col2 .label{margin:0 0 5px 0;color:#000;float:left;width:120px;padding-top:10px}
.post-content .row .col1 .value,.post-content .row .col2 .value{margin:0 0 5px 0;color:#000;display:inline-block;width:185px;position:relative}
.post-content input.tieude{width:100%}
.post-content .row-content .label{float:left}
.post-content textarea.noidung{width:100%;height:250px;margin:0;padding:0}
.post-content select{width:100%;height:25px;margin:0;border:1px solid #e0e0e0;border-radius:3px}
.post-content .row-address .suggesstion{width:600px}
.post-content .row .col input.diachi{width:200px;margin:5px 0 0 0;text-align:right}
.post-content select.duong{width:167px}
.post-content select.phuong{width:183px}
.post-content .row-price .explain{color:#999;display:block}
.post-content input.gia{width:185px;text-align:right}
.post-content .row-price .suggesstion{width:300px}
.post-content select.cachtinh{width:130px}
.post-content .price_text{color:red;font-weight:bold;text-align:right;margin:5px 0 0 0;display:inline-block}
.post-content .row-square .suggesstion{width:200px}
.post-content input.dientich{width:160px;text-align:right}
.post-content select.project{width:100%}
.post-content input.lienhe{width:100%;text-align:left;background:#f0f0f0}
.post-content input.dienthoai{width:100%;text-align:left;background:#f0f0f0}
.post-content .property-over{position:absolute;top:0;left:0;right:0;bottom:0;z-index:100}
.post-content .row-contact .suggesstion{width:300px}
.post-content .other-infor input[type="text"]{text-align:right;width:130px}
.post-content .other-infor select{width:130px}
.post-content .other-infor input[type="checkbox"]{margin-right:10px}
.post-content .other-infor .left-other-info{float:left;width:600px;padding-left:5px}
.post-content .other-infor .right-other-info{float:right;width:130px}
.post-content .other-infor .left-other-info .row .col1{width:290px}
.post-content .other-infor .left-other-info .row .col1 .value{width:165px}
.post-content .other-infor .left-other-info .row .col2{width:290px}
.post-content .other-infor .left-other-info .row .col2 .value{width:165px}
.post-content .other-infor .left-other-info .row .col .value{width:450px}
.post-content .upload-image-box{padding:5px}
.post-content .upload-image-box .head{background-color:#0fbaf5;background-color:rgba(0,153,204,0.72);line-height:30px;height:30px;padding:0 0 0 5px;margin:0 0 5px 0;color:#fff;font-weight:bold}
.post-content .upload-image-box img{border:1px solid #ccc}
.post-content .upload-image-box .item{float:left;margin-right:5px;width:115px;position:relative}
.post-content .upload-image-box .item .imgrotate{display:inline-block;width:20px;height:20px;position:absolute;background:#fff url(../../publish/img/management-icon.png) -13px -292px no-repeat;top:19px;left:1px;cursor:pointer}
.post-content .upload-image-box .item .filename{height:18px;overflow:hidden}
.post-content .upload-image-box .item img{width:115px;height:100px}
.post-content .upload-image-box .item .inputimage{display:none}
.post-content .upload-image-box .item .upload-controls{margin:0;position:relative;height:40px}
.post-content .upload-image-box .item .upload-controls label{border:1px solid #c0c0c0;padding:5px;margin:5px 0 0 0;border-radius:4px;text-align:center}
.post-content .upload-image-box .item .upload-controls label:hover{background:#e0e0e0}
.post-content .upload-image-box .item .btnChooseImage{position:absolute;top:0;left:0;width:55px}
.post-content .upload-image-box .item .btnRemoveImage{position:absolute;top:0;right:0;width:30px}
.post-content #listthumbnail{margin:10px 0 0 0;padding:0 0 5px 5px}
.post-content #listthumbnail img{width:115px;height:100px;border-radius:3px;border:1px solid #09f}
.post-content #listthumbnail ul{margin:0;padding:0}
.post-content #listthumbnail ul li{list-style:none;float:left;margin:5px 5px 0 0;position:relative}
.post-content #listthumbnail ul li span{background:url(/admin/img/smalldelete.png);width:15px;height:15px;background-color:#f5f5f5;background-color:rgba(255,255,255,0.28);position:absolute;top:0;right:0}
.post-content #listthumbnail ul li span:hover{cursor:pointer}
.post-content .captcha-box{padding:5px 5px 5px 5px}
.post-content .vip-box{position:relative;border-bottom:1px solid #ccc}
.post-content .vip-box .title{background:#c71616;color:#fff;margin:0}
.post-content .vip-box .item{position:relative;border-bottom:1px solid #ccc;padding:5px 0 0 0;background:#e0e0e0}
.post-content .vip-box .item:nth-child(2),.post-content .vip-box .item:nth-child(3){width:430px}
.post-content .vip-box .selected{background:#fff}
.post-content .vip-box .nonselected{background:#e0e0e0}
.post-content .vip-box .item .head{font-weight:bold;font-size:14px;margin:0;cursor:pointer}
.post-content .vip-box .item:nth-child(1) .head{color:#165db7}
.post-content .vip-box .item:nth-child(2) .head,.post-content .vip-box .item:nth-child(3) .head{color:#d40f20}
.post-content .vip-box .item .content{position:relative}
.post-content .vip-box .item .content .over{position:absolute;top:0;bottom:0;right:0;left:0}
.post-content .vip-box .item .regular-property-over{position:absolute;top:0;bottom:0;right:0;left:0;display:none;padding-top:34px;font-size:20px;line-height:20px;text-align:center;background:rgba(255,255,255,0.59);color:#0f8ae2}
.post-content .vip-box .choose-vip-box{padding:10px 0 5px 22px}
.post-content .vip-box .choose-vip-box .viptype{width:170px;margin:0;color:#c71616;border:1px solid #ccc}
.post-content .vip-box .choose-vip-box .daynumber{width:80px;margin:0 5px 0 0;border:1px solid #ccc}
.post-content .vip-box .choose-vip-box .chiphi{color:Red;font-weight:bold}
.post-content .vip-box .item .notes{position:relative;padding:7px 0 7px 0}
.post-content .vip-box .item .notes ul{margin:0;padding:0 0 0 40px;font-size:13px}
.post-content .vip-box .item .notes ul li{margin:0;padding:0;color:#777;line-height:18px}
.post-content .vip-box .sodutaikhoan{height:30px;line-height:30px;padding:0 0 0 5px}
.post-content .vip-box .sodutaikhoan .value{color:Blue;font-weight:bold;font-size:15px}
.post-content .vip-box .vipexplain{position:absolute;bottom:30px;right:0;width:318px;height:161px;border:1px solid #ccc;border-right:0}
.post-content .vip-box .vipexplain h3{padding:5px;margin:0;font-size:13px;color:#0d50ce}
.post-content .vip-box .vipexplain ul{margin:0;padding:0 0 0 20px;font-size:13px}
.post-content .vip-box .vipexplain ul li{margin:0;padding:0;color:#777;line-height:18px}
.post-content .hotline{font-style:italic;padding:5px;margin-top:15px;font-size:17px}
.post-content .control{margin:10px 0 0 0;text-align:right;width:100%}
.post-content .control span{display:inline-block;width:70px;text-align:center;text-decoration:none;padding:5px 10px 5px 10px;margin:10px 10px 0 0;border-radius:3px;cursor:pointer;color:#fff;line-height:18px;box-shadow:0 2px 2px rgba(5,51,22,0.3)}
.post-content .control .update{background-color:#09c}
.post-content .control .update:hover{background-color:#6ac3e6}
.post-content .control .update:active{background-color:#09c}
.post-content .control .close{background-color:#aca3a3;color:#fff}
.post-content .control .close:hover{background-color:#cfcaca}
.post-content .control .close:active{background-color:#aca3a3}
.post-content .submit-result-box{position:absolute;background-color:#fff;width:100%;top:0;left:0;z-index:1;display:none}
.post-content .submit-result-box .message-box{width:400px;margin:auto;margin-top:30px;border:solid 1px #e0e0e0}
.post-content .submit-result-box .message-box .message{text-align:center;line-height:25px;color:Blue;font-weight:bold}
.post-content .submit-result-box .message-box .button{text-align:center;line-height:25px;border-top:solid 1px #e0e0e0}
.post-content .submit-result-box .message-box .button a{text-decoration:none}
.post-content .submit-result-box .message-box .button span{line-height:35px;cursor:pointer;font-weight:bold;color:#936}
.post-content .submit-result-box .message-box .button .back-home{float:left;background:url(../../publish/img/management-icon.png) -7px -326px no-repeat;padding-left:35px}
.post-content .submit-result-box .message-box .button .back-post{float:right;background:url(../../publish/img/management-icon.png) 72px -373px no-repeat;padding-right:35px}
.post-content textarea.tomtat{width:100%;height:80px;margin:0;padding:0;line-height:25px}
.post-content input.thumbnail{width:100%}
.post-content .divThumbnail img{width:100px;height:100px}
.post-content .tags{width:100%!important;text-align:left!important}
.post-content .post-head .upload{display:inline-block;background:url(../../publish/img/management-icon.png) -11px -553px no-repeat;width:125px;text-decoration:none;font-weight:bold;line-height:33px;padding:0;text-indent:31px;text-align:left}
.post-content .red{color:Red}
.post-content .post-head{margin-bottom:10px}
.post-content .post-head .dv1{font-family:"Tahoma",Helvetica,sans-serif;padding:15px 5px 10px 5px;font-size:15px;font-weight:bold;color:#F60;text-align:center;border-bottom:1px dashed #c0c0c0}
.post-content .post-head .dv2,.post-content .post-head .dv3{line-height:25px;padding-left:5px;font-style:italic}
.post-content td{position:relative}
.post-content .suggesstion{display:none;position:absolute;background:#bce3f5;z-index:10;border:1px solid #ccc;padding:3px;width:100%;margin-top:2px;bottom:28px}
.post-content .suggesstion ul{padding:0 0 0 23px;margin:0;color:#fff;list-style-type:square}
.post-content .suggesstion ul li{color:#1a9e54;font-size:15px;margin:0 0 5px 0}
.post-content .suggesstion ul li span{color:#074e7d;font-size:12px;text-align:justify}
.post-content .update-name{color:blue;text-decoration:underline;line-height:23px;cursor:pointer}
.post-content .update-phone{color:blue;text-decoration:underline;line-height:23px;cursor:pointer}
.post-content #map{height:400px;border:1px solid #DDDDDDD;margin:0}
.post-content .dvagree{font-weight:bold;padding:3px;margin:10px 0 0 0;cursor:pointer;background:#efefef}
#myFrame iframe body a{font-size:30px!important}
.note{color:Red}
div.user-infor{margin:0 5px 0 5px;min-height:297px}
div.user-infor .account-infor{position:relative}
div.user-infor .result-message{display:none;padding:0!important;text-align:center}
div.user-infor>div{padding:5px}
div.user-infor>div:hover{background:#fafafa}
div.user-infor .user-infor-title{border-bottom:1px solid #e0e0e0;padding:0 0 5px 0;text-transform:uppercase;margin-bottom:10px;font-weight:bold;color:#1118bd;text-align:left}
div.user-infor table{margin:auto;width:100%}
div.user-infor table td:nth-child(1){text-align:right;width:40%}
div.user-infor .avatar{position:absolute;top:50px;right:10px;max-height:200px;max-width:100px}
div.user-infor select{width:255px;padding:1px}
div.user-infor .introduce{width:255px;height:180px}
div.user-infor .introduce-sample{position:absolute;top:0;right:0;color:#777;width:150px;text-align:justify}
div.user-infor .row-agent{display:none}
div.user-infor input[type="text"]{width:250px;padding-left:2px}
div.user-infor #loginname,div.user-infor #account_code{font-weight:bold}
div.user-infor .verify{color:Blue;cursor:pointer}
div.user-infor .balance{color:#220cc4;font-weight:bold}
div.user-infor .verify:hover{color:Black}
div.user-infor td.button a{text-decoration:none;color:#fff}
div.user-infor td.button a span{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;margin-right:15px;cursor:pointer;background-color:#09c}
div.user-infor td.button a span:hover{background-color:#6ac3e6}
div.user-infor td.button a span:active{background-color:#09c}
div.change-password-box{margin:0 5px 0 5px;min-height:297px}
div.change-password-box .result-message{display:none;padding:0!important;text-align:center}
div.change-password-box .title{border-bottom:1px solid #e0e0e0;padding:0 0 5px 0;text-transform:uppercase;margin-bottom:10px;font-weight:bold;color:#1118bd}
div.change-password-box table{margin:auto;width:100%}
div.change-password-box table td:nth-child(1){text-align:right;width:40%}
div.change-password-box #loginname,div.change-password-box #account_code{font-weight:bold}
div.change-password-box input[type="password"]{width:200px;padding:1px}
div.change-password-box td.button a{text-decoration:none;color:#fff}
div.change-password-box td.button a span{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;margin-right:15px;cursor:pointer;background-color:#09c}
div.change-password-box td.button a span:hover{background-color:#6ac3e6}
div.change-password-box td.button a span:active{background-color:#09c}
.updatevipform .vipmenutab{margin:0 0 5px 0;background:#0090b5;font-size:13px;font-weight:bold;color:#fff;padding:2px 0 0 2px}
.updatevipform .vipmenutab li{margin:0;padding:0;float:left;list-style:none;height:100%;line-height:30px;position:relative;padding:0 10px 0 10px;cursor:pointer}
.updatevipform .vipmenutab li.current{background:#fff;color:#4079c0}
.updatevipform .vipcontent>div{position:relative;display:none}
.updatevipform .vipform .property-url a{color:#2e18c9;text-decoration:none;font-weight:bold}
.updatevipform .vipform .property-url a:hover{text-decoration:underline}
.updatevipform .vipform .price{color:Red;font-weight:bold}
.updatevipform .vipform .soduhuyvip{color:blue;font-weight:bold}
.updatevipform .vipform .sodutaikhoan{color:blue;font-weight:bold}
.updatevipform .vipform .dvchiphi{color:Red;font-weight:bold}
.updatevipform .vipform .soduconlai{color:#960000;font-weight:bold}
.updatevipform .vipform .songayvip{width:60px}
.updatevipform .vipform{width:565px}
.updatevipform .vipform table{border:1px dashed #e0e0e0;border-left:none;border-top:0;width:100%}
.updatevipform .vipform table td{border:1px dashed #e0e0e0;border-bottom:0;border-right:0;padding:10px;padding-left:5px}
.updatevipform .vipform table td:nth-child(1){width:160px}
.updatevipform .listprice{position:absolute;top:0;right:0;width:160px;border:1px solid #e0e0e0;background:#f3f3f3;padding:5px}
.updatevipform .listprice table{width:100%}
.updatevipform .listprice table td{line-height:32px}
.updatevipform .listprice table td:nth-child(1){width:60px;text-align:center}
.updatevipform .listprice table td:nth-child(2){text-align:right;color:Red}
.updatevipform .button{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;margin-right:15px;cursor:pointer}
.updatevipform .button:hover{background-color:#6ac3e6}
.updatevipform .button{background-color:#09c}
.updatevipform .errormessage{background:#ffa;line-height:32px;display:none;color:red;text-indent:10px;font-size:15px}
.updatevipform .inform-vip-box{position:absolute;top:0;right:0;bottom:0;left:0;background:#f0f0f0;background:rgba(0,0,0,0.21);display:none}
.updatevipform .inform-vip-container{width:300px;border:1px solid #e0e0e0;text-align:center;padding:10px;position:absolute;top:50px;left:215px;background:#fff}
.updatevipform .inform-vip-box .message{margin-bottom:20px;color:#3d4cf8;font-weight:bold}
.updatevipform .inform-vip-box .button{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;margin-right:15px}
.updatevipform .inform-vip-box .button:hover{background-color:#6ac3e6}
.updatevipform .inform-vip-box .button{background-color:#09c}
.expandvipform .vipmenutab{margin:0 0 5px 0;background:#0090b5;font-size:13px;font-weight:bold;color:#fff;padding:2px 0 0 2px}
.expandvipform .vipmenutab li{margin:0;padding:0;float:left;list-style:none;height:100%;line-height:30px;position:relative;padding:0 10px 0 10px;cursor:pointer}
.expandvipform .vipmenutab li.current{background:#fff;color:#4079c0}
.expandvipform .vipcontent>div{position:relative;display:none}
.expandvipform .vipform .property-url a{color:#2e18c9;text-decoration:none;font-weight:bold}
.expandvipform .vipform .property-url a:hover{text-decoration:underline}
.expandvipform .vipform .price{color:Red;font-weight:bold}
.expandvipform .vipform .soduhuyvip{color:blue;font-weight:bold}
.expandvipform .vipform .sodutaikhoan{color:blue;font-weight:bold}
.expandvipform .vipform .dvchiphi{color:Red;font-weight:bold}
.expandvipform .vipform .soduconlai{color:#960000;font-weight:bold}
.expandvipform .vipform .songayvip{width:60px}
.expandvipform .vipform{width:565px}
.expandvipform .vipform table{border:1px dashed #e0e0e0;border-left:none;border-top:0;width:100%}
.expandvipform .vipform table td{border:1px dashed #e0e0e0;border-bottom:0;border-right:0;padding:10px;padding-left:5px}
.expandvipform .vipform table td:nth-child(1){width:160px}
.expandvipform .listprice{position:absolute;top:0;right:0;width:160px;border:1px solid #e0e0e0;background:#f3f3f3;padding:5px}
.expandvipform .listprice table{width:100%}
.expandvipform .listprice table td{line-height:32px}
.expandvipform .listprice table td:nth-child(1){width:60px;text-align:center}
.expandvipform .listprice table td:nth-child(2){text-align:right;color:Red}
.expandvipform .button{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;margin-right:15px;cursor:pointer}
.expandvipform .button:hover{background-color:#6ac3e6}
.expandvipform .button{background-color:#09c}
.expandvipform .errormessage{background:#ffa;line-height:32px;display:none;color:red;text-indent:10px;font-size:15px}
.expandvipform .inform-vip-box{position:absolute;top:0;right:0;bottom:0;left:0;background:#f0f0f0;background:rgba(0,0,0,0.21);display:none}
.expandvipform .inform-vip-container{width:300px;border:1px solid #e0e0e0;text-align:center;padding:10px;position:absolute;top:50px;left:215px;background:#fff}
.expandvipform .inform-vip-box .message{margin-bottom:20px;color:#3d4cf8;font-weight:bold}
.expandvipform .inform-vip-box .button{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;margin-right:15px;cursor:pointer}
.expandvipform .inform-vip-box .button:hover{background-color:#6ac3e6}
.expandvipform .inform-vip-box .button{background-color:#09c}
.mobilecardform .container{width:230px;margin:auto;position:relative;border:1px solid #e0e0e0;padding:10px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(76,76,77,0.88);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(76,76,77,0.88);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(76,76,77,0.88);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(76,76,77,0.88)}
.mobilecardform .container .row{margin-bottom:5px;line-height:25px}
.mobilecardform .container input[type='text'],.mobilecardform .container select{width:100%}
.mobilecardform .button{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;margin-right:15px;cursor:pointer}
.mobilecardform .button:hover{background-color:#6ac3e6}
.mobilecardform .button{background-color:#09c}
.mobilecardform .errormessage{background:#ffa;line-height:22px;display:none;color:red;font-size:15px;padding:5px;margin-bottom:10px}
.member-inform-popup{position:absolute;top:200px;left:300px;z-index:1010;width:400px;height:150px;font-size:13px;display:none}
.member-inform-popup .container{margin:auto;box-shadow:1px 0 4px rgba(0,0,0,0.66);background:#eee;border:1px solid #ce0a0a}
.member-inform-popup .container .title{padding:6px 0 7px 0;background:url(../../publish/img/management-icon.png) -13px -520px no-repeat;background-color:#ce0a0a;color:#fff;font-weight:bold;font-size:13px;text-indent:25px;position:relative}
.member-inform-popup .container .content{padding:10px 20px 10px 20px;text-align:center;line-height:22px;min-height:50px}
.member-inform-popup .container .exit{width:35px;height:35px;position:absolute;right:-2px;top:-5px;background:url(../../publish/img/management-icon.png) -5px -487px no-repeat;cursor:pointer}
.member-inform-popup .container .member-popup-button{width:70px;height:26px;margin-bottom:7px}
div.renew-package-list table{border:#AAA 1px solid;border-top:0;border-right:0;width:100%;border-bottom:0;font-size:13px}
div.renew-package-list table td{padding:0 5px 0 5px;border:#AAA 1px solid;border-top:0;border-left:none;position:relative}
div.renew-package-list table th{color:white;padding:5px;border:#2ebbd6 1px solid;border-top:0;border-left:#0090b5 1px solid;line-height:22px;background-color:#0090b5}
div.renew-package-list table td{height:35px}
div.renew-package-list table td:nth-child(1){text-align:right;width:150px}
div.renew-package-list table td:nth-child(2){width:170px;text-align:right;color:#b40000}
div.renew-package-list table td:nth-child(3){width:140px;text-align:center;color:#1a0ada}
div.renew-package-list table td:nth-child(4){text-align:center}
div.renew-package-list table .button{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);padding:5px 20px 5px 30px;cursor:pointer;background:url(../../publish/img/management-icon.png) -10px -421px no-repeat;font-size:14px;background-color:#6eaa03}
div.renew-package-list table .button:hover{background-color:#84ca06}
div.renew-package-list .inform-renew-box{position:absolute;top:0;right:0;bottom:0;left:0;background:#f0f0f0;background:rgba(0,0,0,0.21);display:none}
div.renew-package-list .inform-renew-container{width:300px;border:1px solid #e0e0e0;text-align:center;padding:10px;position:absolute;top:50px;left:215px;background:#fff}
div.renew-package-list .inform-renew-box .message{margin-bottom:20px;color:#3d4cf8;font-weight:bold}
div.renew-package-list .inform-renew-box .button{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;margin-right:15px;cursor:pointer}
div.renew-package-list .inform-renew-box .button:hover{background-color:#6ac3e6}
div.renew-package-list .inform-renew-box .button{background-color:#09c}
.mobilecardform2{margin-bottom:10px;position:relative}
.mobilecardform2 .title{border-radius:7px 7px 0 0;text-align:center;font-size:13px;font-weight:bold;line-height:30px;background:#09c;color:#fff}
.mobilecardform2 img{width:100%}
.mobilecardform2 .container{margin:auto;position:relative;border:1px solid #e0e0e0;padding:5px}
.mobilecardform2 .container .row{margin-bottom:5px;line-height:25px}
.mobilecardform2 .container input[type='text'],.mobilecardform2 .container select{width:100%}
.mobilecardform2 .button{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;margin-right:15px;cursor:pointer}
.mobilecardform2 .button:hover{background-color:#6ac3e6}
.mobilecardform2 .button{background-color:#09c}
.mobilecardform2 .errormessage{background:#ffa;line-height:22px;display:none;color:red;font-size:15px;padding:5px;margin-bottom:10px}
.sharemoneyform{margin-left:5px;position:relative;padding:5px;min-height:297px}
.sharemoneyform .message{color:Red;background:#ffa;line-height:32px;color:red;padding-left:10px;font-size:15px}
.sharemoneyform table td{padding:5px}
.sharemoneyform table td:nth-child(1){width:100px}
.sharemoneyform .search-box{border-bottom:1px dashed #c0c0c0;padding-bottom:10px;margin-bottom:20px}
.sharemoneyform .search-box .receiver{width:180px;text-indent:5px}
.sharemoneyform .inputform .sharer{color:blue;font-weight:bold}
.sharemoneyform .inputform .receiver{color:#ca0f0f;font-weight:bold}
.sharemoneyform .inputform .tranferedamount{width:180px;text-indent:5px}
.sharemoneyform .sodu{color:blue;font-weight:bold}
.sharemoneyform .amountmember{width:180px;text-align:left}
.sharemoneyform .textamountmember{color:Red}
.sharemoneyform .conlai{font-weight:bold;color:Blue}
.sharemoneyform .button{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;margin-right:15px;cursor:pointer;width:80px}
.sharemoneyform .button:hover{background-color:#6ac3e6}
.sharemoneyform .button{background-color:#09c}
.messenger-list table{border:#AAA 1px solid;border-top:0;border-right:0;width:100%;border-bottom:0}
.messenger-list table td{padding:5px 5px 5px 5px;border:#a7a7a7 1px solid;border-top:0;border-left:none;position:relative;line-height:22px}
.messenger-list table th{color:white;padding:5px;border:#2ebbd6 1px solid;border-top:0;border-left:#0090b5 1px solid;line-height:22px;background-color:#0090b5}
.messenger-list table td:nth-child(1){text-align:center;width:40px}
.messenger-list table td:nth-child(2){white-space:pre-wrap}
.messenger-list table td:nth-child(3){width:120px;text-align:center;color:Red}
.messenger-list table td:nth-child(4){width:110px;text-align:center}
.messenger-list table td .title{cursor:pointer;font-weight:bold;color:#006aa5}
.messenger-list table td .title:hover{text-decoration:underline}
.messenger-list table td .read{font-weight:normal}
.repostform{position:relative}
.repostform .title{background:#0090b5;color:#fff;margin:0;font-size:16px;padding:10px;text-align:center;font-weight:bold}
.repostform .property-title{text-align:center;padding:15px 5px 5px 5px}
.repostform .property-title a{text-decoration:none;font-size:15px;color:#085eaf;font-weight:bold}
.repostform .property-title a:hover{text-decoration:underline}
.repostform .vip-content{position:relative}
.repostform .item{position:relative;border-bottom:1px solid #ccc;padding:5px 0 0 0;background:#e0e0e0}
.repostform .item:nth-child(2),.repostform .item:nth-child(3){width:430px}
.repostform .selected{background:#fff}
.repostform .nonselected{background:#e0e0e0}
.repostform .item .head{font-weight:bold;font-size:14px;margin:0;cursor:pointer}
.repostform .item:nth-child(1) .head{color:#000}
.repostform .item:nth-child(2) .head,.repostform .item:nth-child(3) .head{color:#d40f20}
.repostform .item .content{position:relative}
.repostform .item .content .over{position:absolute;top:0;bottom:0;right:0;left:0}
.repostform .item .regular-property-over{position:absolute;top:0;bottom:0;right:0;left:0;display:none;padding-top:34px;font-size:20px;line-height:20px;text-align:center;background:rgba(255,255,255,0.59);color:#0f8ae2}
.repostform .choose-vip-box{padding:10px 0 5px 22px}
.repostform .choose-vip-box .viptype{width:170px;margin:0;color:#c71616;border:1px solid #ccc}
.repostform .choose-vip-box .daynumber{width:80px;margin:0 5px 0 0;border:1px solid #ccc}
.repostform .choose-vip-box .chiphi{color:Red;font-weight:bold}
.repostform .item .notes{position:relative;padding:7px 0 7px 0}
.repostform .item .notes ul{margin:0;padding:0 0 0 40px;font-size:13px}
.repostform .item .notes ul li{margin:0;padding:0;color:#777;line-height:18px}
.repostform .sodutaikhoan{height:30px;line-height:30px;padding:0 0 0 5px}
.repostform .sodutaikhoan .value{color:Blue;font-weight:bold;font-size:15px}
.repostform .vipexplain{position:absolute;bottom:30px;right:0;width:318px;height:161px;border:1px solid #ccc;border-right:0}
.repostform .vipexplain h3{padding:5px;margin:0;font-size:13px;color:#0d50ce}
.repostform .vipexplain ul{margin:0;padding:0 0 0 20px;font-size:13px}
.repostform .vipexplain ul li{margin:0;padding:0;color:#777;line-height:18px}
.repostform .dvbutton{border-top:1px solid #c0c0c0;padding-top:5px;text-align:center}
.repostform .btnclose{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;outline:0;cursor:pointer;background-color:#aca3a3}
.repostform .btnclose:hover{background-color:#ccc1c1}
.repostform .btnrepost{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;margin-right:15px;cursor:pointer;background-color:#09c}
.repostform .btnrepost:hover{background-color:#6ac3e6}
.repostform .errormessage{background:#ffa;line-height:32px;display:none;color:red;text-indent:10px;font-size:15px}
.repostform .inform-repost{position:absolute;top:0;right:0;bottom:0;left:0;background:#f0f0f0;background:rgba(0,0,0,0.21);display:none}
.repostform .inform-repost-container{width:300px;border:1px solid #e0e0e0;text-align:center;padding:10px;position:absolute;top:50px;left:215px;background:#fff}
.repostform .inform-repost .message{margin-bottom:20px;color:#3d4cf8;font-weight:bold}
.repostform .inform-repost .btninform{color:#fff;border:0;box-shadow:0 2px 2px rgba(5,51,22,0.3);border-radius:3px;padding:5px 15px 5px 15px;margin-right:15px;background-color:#09c;outline:0}
.repostform .inform-repost .btninform:hover{background-color:#6ac3e6}
.street-acp-box{width:208px;height:22px;display:inline-block;position:relative}
.street-acp-box input{width:190px;padding:0 3px 0 3px;height:22px!important;line-height:22px!important}
.post-content .street-acp-box .street-row-down{color:#000;font-size:9px;position:absolute;top:-1px;right:9px;display:inline-block;width:30px;height:20px;text-indent:12px;padding:4px 0;cursor:pointer;z-index:1000;outline:0}
.street-acp-box ul{position:absolute;width:210px;max-height:300px;overflow-y:scroll;padding:0;margin:0;list-style:none;color:#000;display:none;border:1px solid #6ac3e6;border-top:0;background:#fff;z-index:1000;font-size:13px}
.street-acp-box ul li{padding:0 0 0 3px;margin:0;line-height:18px;cursor:pointer}
.street-acp-box ul li:hover{background:#09c;color:#fff}
.street-acp-box ul .selected{background:#09c;color:#fff}
.street-acp-box ul li.hidden{display:none}
.post-content .duong{display:none}
.project-acp-box{width:208px;height:22px;display:inline-block;position:relative}
.project-acp-box input{width:190px;padding: 0 20px 0 3px;height:22px!important;line-height:22px!important;}
.post-content .project-acp-box .project-row-down{color:#000;font-size:9px;position:absolute;top:-1px;right: -10px;display:inline-block;width:30px;height:20px;text-indent:12px;padding:4px 0;cursor:pointer;z-index: 600;outline:0;}
.project-acp-box ul{position:absolute;width: 350px;max-height:300px;overflow-y:scroll;padding:0;margin:0;list-style:none;color:#000;display:none;border:1px solid #6ac3e6;border-top:0;background:#fff;z-index:1000;font-size:13px;}
.project-acp-box ul li{padding:0 0 0 3px;margin:0;line-height:18px;cursor:pointer}
.project-acp-box ul li:hover{background:#09c;color:#fff}
.project-acp-box ul .selected{background:#09c;color:#fff}
.project-acp-box ul li.hidden{display:none}
.post-content .project{display:none}
