.content-left{float:left;width:670px;margin:0;min-height:300px;padding:0 10px 10px 10px}
.content-right{float:right;width:300px;margin:0;min-height:250px;padding:0 5px 5px 5px}
.top-line{border:0;height:1px;margin:10px 0 10px 0;width:600px}
.slideshow{margin:0 0 20px 0}
.slides{position:relative;top:0;left:0;z-index:10;border:1px solid #e0e0e0}
.slides_container .item{height:250px;display:block;position:absolute;left:0;right:0}
.slides_container .item .caption{height:auto;z-index:500;position:absolute;bottom:0;left:0;right:0;padding:6px 0 5px 5px;background:#000;background:rgba(0,0,0,0.29)}
.slides_container .item .caption .name{font-size:15px;font-weight:bold;line-height:23px;color:#fff;text-shadow:none}
.slides_container .item .caption .address{color:#edf70b}
.slides .item img{width:670px;height:250px}
.slides_container{height:250px}
.slides .controls{margin:15px 5px 5px 5px;padding-left:5px}
.slides .controls ul{line-height:21px;padding:0;margin:0;list-style:none}
.slides .controls ul li{float:left;list-style:none;margin-right:5px;padding:7px 7px 0 7px;border:1px solid #CCC}
.slides .controls ul li.current{color:#fff;background-color:#e0e0e0}
.slides .controls ul li a{text-decoration:none}
.slides .controls ul li a img{width:142px;height:80px}
.slides .controls ul li a span{text-align:center;display:block;text-decoration:none;color:#1d8b4e;overflow:hidden;width:142px;height:22px}
.slides .static-content{padding:10px 0 0 12px}
.slides .static-item{width:210px;height:160px;display:inline-block;margin:0 8px 5px 0;position:relative}
.slides .static-item a{border:0;text-decoration:none}
.slides .static-item .project-name{padding:5px 0 0 0;color:#1565b1;height:20px;overflow:hidden;font-size:15px;line-height:19px}
.slides .static-item .project-address{color:#837e7e;height:20px;overflow:hidden;line-height:19px}
.slides .static-item .vipthumb{top:0;left:0;position:absolute}
.slides .static-item .prothumb{width:200px;height:109px;border:3px solid #fff;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(162,162,162,0.88);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(162,162,162,0.88);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(162,162,162,0.88)}
.slides .static-item img:hover{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.88);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.88);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.88)}
.list-project{margin:0}
.list-project .head{text-shadow:1px 1px #eee;text-transform:uppercase;margin:0;width:100%;padding:8px 0 8px 0;font-size:18px;font-weight:bold;color:#1ea518;border-bottom:1px solid #e0e0e0;line-height:25px}
.list-project .item{border-bottom:1px solid #e0e0e0;padding:15px 0 15px 0}
.list-project .item .image{float:left;margin-right:10px;width:150px;height:100px}
.list-project .item .image img{width:150px;height:100px;padding:3px;border:1px solid #e0e0e0}
.list-project .item .content{padding-left:15px;text-align:justify}
.list-project .item .title a{text-decoration:none;font-size:15px;font-weight:bold;color:#0a62e2;text-shadow:1px 1px #fcfcfc}
.list-project .item .title a:hover{text-decoration:underline}
.list-project .item .address{margin:5px 0 5px 0;color:#000;text-shadow:1px 1px #fcfcfc;font-style:italic}
.list-project .item .brief{font-size:13px;padding:0;color:#777}
.paging{text-align:right;margin:0;padding:0}
.paging a{display:inline-block;margin:5px 0 0 2px;background-color:#006786;padding:5px 9px 5px 9px;text-decoration:none;color:#fff}
.paging a:hover{background-color:#09c}
.paging a.active{background-color:#09c}
.project-category-navigation{margin:0 0 5px 0}
.project-category-navigation h2{text-shadow:1px 1px #2250e2;text-transform:uppercase;margin:0;width:100%;padding:8px 0 8px 0;text-indent:10px;font-size:13px;font-weight:bold;color:white;background:#0090b5;background:-moz-linear-gradient(top,#0090b5,#59acc5);background:-o-linear-gradient(top,#0090b5,#59acc5);background:-ms-linear-gradient(top,#0090b5,#59acc5);background:-webkit-linear-gradient(top,#0090b5,#59acc5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0090B5',endColorstr='#59ACC5',gradientType='0')}
.project-category-navigation ul{margin:0;padding:0}
.project-category-navigation ul li{margin:0;padding:10px 0 10px 10px;list-style:none;border:1px solid #e0e0e0;border-top:0}
.project-category-navigation ul li:hover{background:#f0f0f0}
.project-category-navigation ul li a{text-decoration:none;font-size:14px;display:block;color:#7a7a0f}
.right-navigation-box .item{border:1px solid #e0e0e0}
.right-navigation-box h2{margin:0;font-size:13px;padding:5px;line-height:20px;background-color:#0090b5;color:#fff;font-weight:bold;position:relative;border:1px solid #639ec4;text-align:center}
.right-navigation-box ul h3{margin:5px 0 5px 5px;clear:both}
.right-navigation-box ul{padding:0;margin:0;max-height:500px;overflow:auto}
.right-navigation-box ul li{list-style:none;line-height:20px;height:20px;overflow:hidden;border-bottom:1px dashed #e0e0e0;padding:0 0 3px 5px}
.right-navigation-box ul li a{color:#09C;text-decoration:none;font-size:12px}
.right-navigation-box ul li a:hover{text-decoration:underline}
.right-navigation-box .number{color:#c02929;font-weight:bold}
.image-popup{margin:auto;padding:5px;border:solid 1px #c1d3e1;border:solid 1px rgba(4,78,136,0.24);box-shadow:5px 4px 20px #fff;background-color:#fff;display:none;position:absolute;z-index:1002}
.image-popup .exit{width:25px;height:25px;position:absolute;right:-2px;top:-2px;background:url(../../publish/img/closebox.png) center no-repeat;cursor:pointer}
.project-detail{margin-bottom:10px;border-bottom:1px solid #e0e0e0}
.project-detail .project-name h1{line-height:30px;text-align:left;font-size:21px;font-weight:bold;margin:0 0 10px 0;color:#0a62e2;text-shadow:1px 1px #eee}
.project-detail .project-name .address{font-style:italic;font-size:15px;margin-bottom:20px;color:#777}
.project-detail .project-name .address label{font-style:normal}
.project-detail .project-menu-tab{margin:0;padding:0;background:#0090b5;font-size:13px;font-weight:bold;color:#fff;padding:5px}
.project-detail .project-menu-tab li{margin:0;padding:0;float:left;list-style:none;height:100%;line-height:30px;position:relative;padding:0 10px 0 10px;cursor:pointer;white-space:nowrap}
.project-detail .project-menu-tab li.current{background:#fff;color:#4079c0}
.project-detail .project-content{margin-top:15px;min-height:150px;line-height:22px}
.project-detail .project-content .item{display:none}
.project-detail .project-content .item img{max-width:670px!important}
.project-detail .project-content .current{display:block}
.project-search{border:1px solid #59acc5;margin-bottom:10px}
.project-search .head{text-shadow:1px 1px #2250e2;text-transform:uppercase;margin:0;width:100%;padding:8px 0 8px 0;text-indent:10px;font-size:13px;font-weight:bold;color:white;background:#0090b5;background:-moz-linear-gradient(top,#0090b5,#59acc5);background:-o-linear-gradient(top,#0090b5,#59acc5);background:-ms-linear-gradient(top,#0090b5,#59acc5);background:-webkit-linear-gradient(top,#0090b5,#59acc5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0090B5',endColorstr='#59ACC5',gradientType='0')}
.project-search .content{padding:5px}
.project-search .row{margin:0 0 5px 0}
.project-search input[type='text']{padding:3px;width:280px}
.project-search select{padding:5px;width:100%;height:auto!important}
.project-search .button{font-size:15px;font-weight:bold;text-shadow:1px 1px #808080;color:#fff;border:0;display:inline-block;text-align:center;padding:7px 20px 7px 20px;margin-top:10px;border-radius:3px;background-color:#09c;cursor:pointer;-webkit-box-shadow:0 5px 2px rgba(5,51,22,0.3);-moz-box-shadow:0 5px 2px rgba(5,51,22,0.3);box-shadow:0 2px 5px rgba(5,51,22,0.3);-ms-box-shadow:0 5px 2px rgba(5,51,22,0.3);-o-box-shadow:0 5px 2px rgba(5,51,22,0.3)}
.project-search .button:hover{background-color:#0fbaf5;background-color:rgba(0,153,204,0.72)}
.project-search.button:active{background-color:#09c}
.hot-projects{border:1px solid #59acc5}
.hot-projects .head{text-shadow:1px 1px #2250e2;text-transform:uppercase;margin:0;width:100%;padding:8px 0 8px 0;text-indent:10px;font-size:13px;font-weight:bold;color:white;background:#0090b5;background:-moz-linear-gradient(top,#0090b5,#59acc5);background:-o-linear-gradient(top,#0090b5,#59acc5);background:-ms-linear-gradient(top,#0090b5,#59acc5);background:-webkit-linear-gradient(top,#0090b5,#59acc5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0090B5',endColorstr='#59ACC5',gradientType='0')}
.hot-projects .content{padding:5px}
.hot-projects .content .project{position:relative;margin-bottom:5px;height:150px;border-bottom:1px solid #e0e0e0}
.hot-projects .content .project a{text-decoration:none}
.hot-projects .content .project img{width:290px;height:150px}
.hot-projects .content .project .caption{position:absolute;bottom:0;left:0;background:#000;width:100%;background:rgba(255,255,255,0.78)}
.hot-projects .content .project .name{color:#12853c;font-weight:bold;font-size:14px;display:block;margin:5px 0 2px 5px;text-shadow:1px 1px #5dec79}
.hot-projects .content .project .name:hover{text-decoration:underline}
.hot-projects .content .project .address{color:#104be7;margin:5px 0 2px 5px;text-shadow:1px 1px #dfdfdf}
.property-box .head{margin:0;padding:0;font-size:13px;font-weight:bold;line-height:25px}
.property-box .item{margin:0 1px 7px 0;padding:5px 5px 5px 5px;border:1px solid #d1d1d1;line-height:17px;position:relative}
.property-box .item:hover{box-shadow:none}
.property-box .item .item label{color:#000;font-weight:bold}
.property-box .item .thumb{float:left;width:100px;position:relative}
.property-box .item .thumb a img{max-width:100px;max-height:100px;min-width:100px;min-height:60px;border:0;overflow:hidden}
.property-box .item .text{line-height:20px}
.property-box .item .title{overflow:hidden;width:540px}
.property-box .item .title a{color:#19732b;text-decoration:none;font-weight:bold;font-size:12px}
.property-box .item .title a:hover{text-decoration:underline}
.property-box .item .date{position:absolute;color:#d64d4d;top:7px;right:5px;font-style:italic}
.property-box .item .ct_brief{background:#f0f0f0;padding:1px 5px 1px 5px;text-align:justify;border:1px solid #e0e0e0}
.property-box .item .text .dt{font-size:15px}
.property-box .item .text .dt label,.property-box .item .text .price label{width:60px;display:inline-block;color:#777;font-size:13px;font-weight:normal}
.property-box .item .text .price{color:red;font-weight:bold;font-size:15px}
.property-box .item .text .contact{background:#e8fff2;position:absolute;right:5px;bottom:5px;width:270px;height:40px;overflow:hidden}
.property-box .item .text .contact .col1{float:left;height:100%;line-height:45px;padding-left:5px;font-weight:bold;font-size:15px;color:#c71414}
.property-box .item .text .contact .col2{float:right;padding:0;width:190px}
.property-box .item .text .contact .col2 .member{font-weight:bold;font-size:13px;color:#370ce7}
.property-box .item .text .contact .col2 .fone a{font-weight:bold;font-size:14px;color:#370ce7;text-decoration:none}
.property-type-project .title{font-weight:bold;font-size:13px}
.property-type-project ul{border-top:0;padding:5px 0 0 0;margin:0 0 10px 0}
.property-type-project ul li{margin:0;padding:5px 0 5px 0;list-style:none;line-height:20px;width:50%!important;float:left}
.property-type-project ul li a{color:#09C;text-decoration:none}
.property-type-project ul li a:hover{text-decoration:underline}
.property-type-project .number{color:#c02929;font-weight:bold}
.right-navigation{margin:10px 0 0 0;padding:0}
.right-navigation h2{text-shadow:1px 1px #2250e2;text-transform:uppercase;margin:0;width:100%;padding:8px 0 8px 0;text-indent:10px;font-size:13px;font-weight:bold;color:white;background:#055699;background:-moz-linear-gradient(top,#0090b5,#59acc5);background:-o-linear-gradient(top,#0090b5,#59acc5);background:-ms-linear-gradient(top,#0090b5,#59acc5);background:-webkit-linear-gradient(top,#0090b5,#59acc5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0090B5',endColorstr='#59ACC5',gradientType='0')}
.right-navigation ul{margin:0 0 10px 0;padding:0 0 0 5px;border:1px solid #e0e0e0}
.right-navigation ul li{margin:0;padding:7px 0 7px 0;list-style:none;border-bottom:1px dashed #ddd}
.right-navigation ul li:last-child{border:0}
.right-navigation ul li a{color:#09C;text-decoration:none}
.right-navigation ul li a:hover{text-decoration:underline}
.right-navigation .number{color:#c02929;font-weight:bold}
.container{width:800px;margin:0 auto}
.autocomplete-suggestions{border:1px solid #999;background:#FFF;cursor:default;overflow:auto;-webkit-box-shadow:1px 4px 3px rgba(50,50,50,0.64);-moz-box-shadow:1px 4px 3px rgba(50,50,50,0.64);box-shadow:1px 4px 3px rgba(50,50,50,0.64)}
.autocomplete-suggestion{padding:2px 5px;white-space:nowrap;overflow:hidden}
.autocomplete-no-suggestion{padding:2px 5px}
.autocomplete-selected{background:#f0f0f0}
.autocomplete-suggestions strong{font-weight:bold;color:#2b74e2}

