/* CSS Document */
.left
{
	width:675px;
	float:left;
	padding:0px 0px 5px 5px;
	line-height:22px;
	font-size:13px;
}
.left>.title
{
	font-size:20px;
	color:#2900FF;
	font-weight:bold;
	margin-bottom: 20px;
}
.right
{
	width:305px;
	float:right;
}
.left .content
{
	line-height:22px;
}
.left .content *
{
	max-width:100% !important;
}
.left .content img
{
	max-width:100% !important;
}

.other-news .line
{
	border-bottom:1px dashed #A0A0A0;
}
.other-news .title
{
	font-weight:bold;
	font-size:14px;
	margin-bottom:5px;
}
.other-news ul
{
	margin:0px;
	padding:0px;
	list-style-type: square;
	color: rgb(12, 137, 153);
	font-size: 15px;
}
.other-news ul li
{
	margin-left:25px;
	line-height:22px;
	font-style:italic;
}
.other-news ul li a
{
	font-size: 13px;
	text-decoration:none;
	color:#1A38D1;
}
.other-news ul li a:hover{
	text-decoration:underline;
}


